### 01 Series Peer 2 Peer

Since we're working with tabular data, we'll be using the pandas library. This nifty tool will turn our dataset into a dataframe, which is just a fancy way of saying a table with rows and columns. Now, we won't be using the term 'table' much in this walkthrough. So, whenever you hear 'dataframe', just picture those neat rows and columns we're talking about.

To start utilizing a library in Python, you simply import it with the 'import' statement and then name the library. For convenience, 'pd' is often used as a shorthand alias for 'pandas', so we don't have to keep typing 'pandas' repeatedly. Let's go ahead and import it. While we won't go through every single pandas method here, you can always visit the official site at https://pandas.pydata.org/docs/user_guide/index.html to explore all the methods pandas offers.

In [1]:
import pandas as pd

Python, like any other programming language, allows you to use variables to store information. This means that if you ever need to use this information again, you can simply recall the variable name.

### Variables

### Examples

Let's assign some variables to a and b. This means that we are storing these 5 to a then 7 to b

In [2]:
a = 5
b = 7

In [3]:
a, b

(5, 7)

In [4]:
a - b

-2

If I print, you can see that a returns 5 whereas b returns 7. We are going to do the same and store our dataframe in a variable df. You can realize that you can get output without even using print function. but you can use it if you want, you will get the same results.

In [33]:
data = pd.read_excel("midwest2024.xlsx")

In [34]:
df = data.copy()

# Exploring Data with Pandas
Most times when we read a file, we want to know what our data is all about for example how many variables it has, the number of observations and so on. Pandas provides very handy methods that can do this.

- `df.shape` which returns the number of rows and columns of your table

- `df.head()` which returns by default the first 5 rows of the dataframe.

In [35]:
print(df.shape)
df.tail(2)

(56262, 123)

,objectid,globalid,intro,date_visit,date_t,district,district_id,subcounty,parish_t,village,...,wash_metrics,demographics_score0,demographics_score,hh_tot_score,CreationDate,Creator,EditDate,Editor,x,y
56260,56794,4cddfd99-dfc5-493f-8ea1-9d0b65cb989c,NaN,1708419600000,2024-02-20,Kiryandongo,12,Kichwabugingo,Chope_Lwor,Hanga_Makwer,...,NaN,NaN,NaN,NaN,2024-02-21T06:52:34,rtvstaff,2024-02-21T06:52:34,rtvstaff,32.133294,2.041064
56261,56795,7099c14f-7b54-4587-a67b-cb0b6c18be6e,NaN,1708419600000,2024-02-20,Kiryandongo,12,Kichwabugingo,Chope_Lwor,Hanga_Makwer,...,NaN,NaN,NaN,NaN,2024-02-21T06:52:35,rtvstaff,2024-02-21T06:52:35,rtvstaff,32.132784,2.039955

You can use the columns method that lists all the variable names, and call the `to_list()` function to wrap then in a list. A list is simply a data-structure that helps to store data. In python it's represented by closed brackets `[]`. There are other data structures including dictionaries, arrays and so on. We won't cover all of them but it's nice be aware of their existence. A very nice book I recommend about python basics is `think python` which you can find here. https://greenteapress.com/wp/think-python-2e/. It covers all the data structures used in python in detail. It's possible to do analysis without knowing python basics but knowing them will make you a better and efficient programmer. But for now, `Python for data analysis` is the best choice I can recommend for Analysis, https://wesmckinney.com/book/data-analysis-examples.html.

In [36]:
df.columns.to_list()

['objectid',
 'globalid',
 'intro',
 'date_visit',
 'date_t',
 'district',
 'district_id',
 'subcounty',
 'parish_t',
 'village',
 'surveyor',
 'surveyor_n',
 'conscent',
 'lat_x',
 'long_y',
 'altit_z',
 'long_y_f',
 'lat_x_err',
 'long_y_err',
 'gps_err_r',
 'gps_err_r_f',
 'bad_gps_err',
 'Household_Head_First_Name',
 'Household_Head_Last_Name',
 'hhh_full_name',
 'Household_Head_Age',
 'Household_Head_Contact',
 'Marital_Status',
 'Household_Head_Gender',
 'Spouse_First_Name',
 'Spouse_Last_Name',
 'Spouse_Name',
 'Spouse_Age',
 'Telephone_Contact',
 'tot_hhmembers',
 'hh_married',
 'hh_unmarried',
 'hh_size_adjusted',
 'fname1',
 'hh_sex1',
 'hh_age1',
 'chld_sch1',
 'fname2',
 'hh_sex2',
 'hh_age2',
 'chld_sch2',
 'fname3',
 'hh_sex3',
 'hh_age3',
 'chld_sch3',
 'fname4',
 'hh_sex4',
 'hh_age4',
 'chld_sch4',
 'fname5',
 'hh_sex5',
 'hh_age5',
 'chld_sch5',
 'fname6',
 'hh_sex6',
 'hh_age6',
 'chld_sch6',
 'fname7',
 'hh_sex7',
 'hh_age7',
 'chld_sch7',
 'fname8',
 'hh_sex8',
 'hh_age8',
 'chld_sch8',
 'fname9',
 'hh_sex9',
 'hh_age9',
 'chld_sch9',
 'fname10',
 'hh_sex10',
 'hh_age10',
 'chld_sch10',
 'fname11',
 'hh_sex11',
 'hh_age11',
 'chld_sch11',
 'fname12',
 'hh_sex12',
 'hh_age12',
 'chld_sch12',
 'key_string',
 'hhid',
 'hhs_income',
 'hh_income_contributor',
 'hh_dependents',
 'hh_income_sources',
 'hh_income_sources_num',
 'saving_groups',
 'lessen_shocks_num',
 'major_economic_shock',
 'land_acres',
 'land_rent',
 'rent_acres',
 'hhs_meals',
 'functional_latrine',
 'hhs_chronic_illness',
 'hhs_chronic',
 'chronic_illness',
 'hhh_age',
 'member_household_impairment',
 'impairment_productivity',
 'impairment_type',
 'hhs_income_earners_sc',
 'hh_dependents_sc',
 'hh_income_sources_sc',
 'hhs_income_metrics',
 'food_security_Nutrition_score',
 'wash_metrics',
 'demographics_score0',
 'demographics_score',
 'hh_tot_score',
 'CreationDate',
 'Creator',
 'EditDate',
 'Editor',
 'x',
 'y']

For our randomization, we don't need all the columns, we can just pick the ones we want by defining them in a list. Let's assign a variable to the list. For now, we can name it `columns`.

In [37]:
columns = [
 'district',
 'subcounty',
 'parish_t',
 'village',
 'hhh_full_name',
 'Household_Head_Age',
 'Household_Head_Contact',
 'Household_Head_Gender',
 'hhid',
 ]

In [38]:
# columns = [
#  'district',
#  'subcounty',
#  'Parish',
#  'village',
#  'hhh_name',
#  'age',
#  'Contact',
#  'gender',
#  'id',
#  ]

When you apply a mask to your dataframe, it's like giving it a new shape, only showing the columns you tell it to. It's a bit like magic! Just remember, when you reassign 'df', you're basically telling the old one to take a hike, because there's a new dataframe in town.

In [39]:
df = df[columns]

Pandas has another interesting method that gives you the counts of each category in a particular column. It's super handy when you're trying to get a quick overview of your data and see which categories are the most common. Just a few lines of code, and you've got yourself a neat little summary of your dataset!

In [40]:
df.head()

,district,subcounty,parish_t,village,hhh_full_name,Household_Head_Age,Household_Head_Contact,Household_Head_Gender,hhid
0,Mitooma,Mitooma,Nyakishojwa,Kashasha,Kyomuhangi Jadress,79,0763-25-28-10,Female,Mit-Kas-Kyo-F-082932-5
1,Mitooma,Mitooma,Nyakishojwa,Karoza_A,Nuwagaba Charity,43,0778-56-33-66,Female,Mit-Kar-Nuw-F-082625-5
2,Mitooma,Mitooma,Nyakishojwa,Kihunga_Nyakishowa,Twogirwe Mollias,36,0773-35-56-76,Female,Mit-Kih-Two-F-083135-5
3,Mitooma,Mitooma,Nyakishojwa,Kaasha,Nomuhwezi Felix,57,0774-39-61-02,Male,Mit-Kaa-Nom-M-082154-5
4,Mitooma,Mitooma,Nyakishojwa,Kibisho_A,Mauda Ndebwomwe,67,0706-94-93-06,Female,Mit-Kib-Mau-F-083009-5

In [41]:
df['district'].value_counts()

district
Kiryandongo    11934
Kibaale         7803
Mitooma         5746
Rukungiri       5121
Rubanda         4953
Rubirizi        4112
Rukiga          3954
Kakumiro        3322
Kyenjojo        2777
Kagadi          2476
Buhweju         2051
Bunyangabu      1252
Kanungu          761
Name: count, dtype: int64

In fact, when you're crunching numbers and diving into data analysis, tweaking a few parameters can make a world of difference. For instance, setting normalize=True is like flipping a switch that transforms raw numbers into proportions. It's a nifty trick that comes in handy almost daily, especially when you're piecing together reports and need to present your findings in a way that's easy to digest.

In [42]:
df['Household_Head_Gender'].value_counts()

Household_Head_Gender
Male      41443
Female    14819
Name: count, dtype: int64

In [43]:
df['Household_Head_Gender'].value_counts(normalize=True)

Household_Head_Gender
Male      0.736607
Female    0.263393
Name: proportion, dtype: float64

In [44]:
df['district'].value_counts(normalize=True)

district
Kiryandongo    0.212115
Kibaale        0.138690
Mitooma        0.102129
Rukungiri      0.091021
Rubanda        0.088035
Rubirizi       0.073087
Rukiga         0.070278
Kakumiro       0.059045
Kyenjojo       0.049358
Kagadi         0.044008
Buhweju        0.036454
Bunyangabu     0.022253
Kanungu        0.013526
Name: proportion, dtype: float64

### Duplicates

Since we are trying to do randomization, we don't want any case of duplicated values. Thankfully, pandas has support for us. We can just use the method drop_duplicates, and pass in the `column` where we want to get rid of duplicates. 

A duplicate means some values are repeating, so using 'first' retains the first occurrence, whereas 'last' would return the last duplicated value.

In [45]:
df = df.drop_duplicates('hhid', keep='first')

Filtering is a common task in data manipulation, especially when you need to focus on a specific subset of data. For instance, if you're only interested in analyzing data from Kiryandongo district, you can easily filter out the rest. Here's how you do it: simply use the filtering code (==) to isolate Kiryandongo's data. The beauty of it is that you can assign this filtered data to a new variable, keeping your original dataframe intact for further use.

### Filtering

In [46]:
Kiryandongo = df[df['district'] == 'Kiryandongo']

In [47]:
df[df['district'] == 'Rubanda']

,district,subcounty,parish_t,village,hhh_full_name,Household_Head_Age,Household_Head_Contact,Household_Head_Gender,hhid
10958,Rubanda,Hamurwa,Kakore,Kabihijo,Gerald Atuyambe,33,0777-57-27-86,Male,Rub-Kab-Ger-M-073455-7
10959,Rubanda,Hamurwa,Kakore,Kabihijo,Godfrey Byamukama,46,0761-81-09-21,Male,Rub-Kab-God-M-083143-7
10960,Rubanda,Hamurwa,Kakore,Kabihijo,Katojoram Akankunda,25,0761-98-10-91,Male,Rub-Kab-Kat-M-083617-7
10961,Rubanda,Hamurwa,Kakore,Kabihijo,Sam Turinensi,42,0761-81-09-21,Male,Rub-Kab-Sam-M-084122-7
10962,Rubanda,Hamurwa,Kakore,Kabihijo,Jackson Ahabwe,35,0761-81-09-21,Male,Rub-Kab-Jac-M-085121-7
...,...,...,...,...,...,...,...,...,...
24727,Rubanda,Nyamweeru,Bigungiro,Nyakabingo,HILDAH NINSIIMA,30,0788-67-23-48,Female,Rub-Nya-HIL-F-132846-7
24848,Rubanda,Hamurwa,Mpungu,Nyarushanje,Baribumpe Jesca,80,0774-72-68-01,Female,Rub-Nya-Bar-F-112606-7
24999,Rubanda,Nyamweeru,Bigungiro,Rwakaruma,Tobias Byugaba,36,0783-94-10-96,Male,Rub-Rwa-Tob-M-135719-7
25000,Rubanda,Nyamweeru,Bigungiro,Ikamiro,Ronald Tukamushaba,45,0775-67-80-65,Male,Rub-Ika-Ron-M-174530-7
25001,Rubanda,Nyamweeru,Bigungiro,Ikamiro,Gilbert Katushabe,37,0774-18-07-12,Male,Rub-Ika-Gil-M-180025-7

In [48]:
Kiryandongo.shape

(11905, 9)

### Creating new variables

In [49]:
df['Household_Head_Gender'].value_counts()

Household_Head_Gender
Male      41386
Female    14801
Name: count, dtype: int64

In [50]:
# {
#     # "name":"John"
#     "age":40
# }

In [51]:
# gender_mapping = {
#     'male': 'Male',
#     'm':'Male',
#     'female': 'Female',
#     'f': 'Female',
#     'feamale': 'Female',
#     'female`': 'Female',
#     'femaLe':'Female',
#     'femae': 'Female',
#     'male ': 'Male'
# }

In [52]:
# df['Household_Head_Gender'] = df['Household_Head_Gender'].str.lower().map(gender_mapping)

We have females and males but we need to include youths in our sampling. Its a bad idea to always change values of an original variable. Let's create a new variable and make all our changes on it. Generating an new variable is very simple using pandas, Just mask the dataframe with the name of the new variable on the left. The right should have the content of this new variable. The code below just shows that generate a new variable, name it Gender and populate it values of Household head gender.

In [53]:
df['Gender'] = df['Household_Head_Gender']

If you print, the first two rows, you can notice that the Household_Head_Gender and Gender variable have the same contents

In [56]:
df.head(10)

,district,subcounty,parish_t,village,hhh_full_name,Household_Head_Age,Household_Head_Contact,Household_Head_Gender,hhid,Gender
0,Mitooma,Mitooma,Nyakishojwa,Kashasha,Kyomuhangi Jadress,79,0763-25-28-10,Female,Mit-Kas-Kyo-F-082932-5,Female
1,Mitooma,Mitooma,Nyakishojwa,Karoza_A,Nuwagaba Charity,43,0778-56-33-66,Female,Mit-Kar-Nuw-F-082625-5,Female
2,Mitooma,Mitooma,Nyakishojwa,Kihunga_Nyakishowa,Twogirwe Mollias,36,0773-35-56-76,Female,Mit-Kih-Two-F-083135-5,Female
3,Mitooma,Mitooma,Nyakishojwa,Kaasha,Nomuhwezi Felix,57,0774-39-61-02,Male,Mit-Kaa-Nom-M-082154-5,Male
4,Mitooma,Mitooma,Nyakishojwa,Kibisho_A,Mauda Ndebwomwe,67,0706-94-93-06,Female,Mit-Kib-Mau-F-083009-5,Female
5,Mitooma,Mitooma,Nyakishojwa,Kashasha,Mujuni Darious,61,0770-98-86-35,Male,Mit-Kas-Muj-M-083848-5,Male
6,Mitooma,Mitooma,Nyakishojwa,Karoza_A,komwani Mary,71,0775-65-31-17,Female,Mit-Kar-kom-F-083805-5,Female
7,Mitooma,Mitooma,Nyakishojwa,Kihunga_Nyakishowa,Biraribwaoha George,85,0785-67-33-50,Male,Mit-Kih-Bir-M-083825-5,Male
8,Mitooma,Mitooma,Nyakishojwa,Nyakishojwa_Central,Tumwebaze Geresiano,55,0784-92-45-13,Male,Mit-Nya-Tum-M-084553-5,Male
9,Rubirizi,Magambo,Butoha,Kanyara,Kyomukama Evarist,33,0704-22-49-83,Male,Rub-Kan-Kyo-M-082729-9,Male

## functions

In programming, functions are like your go-to tools for tasks you perform often. When it comes to data analysis, I've found that lambda functions are just slicker and quicker for whipping things into shape. Take this code below for instance.

Here's the breakdown:
- Spot a row with a value 30 or less? Tag it as 'Youth Headed'.
- Otherwise, keep it as 'Male' or 'Female', but tack on 'Headed' to get 'Male Headed' or 'Female Headed'.

In [57]:
def name(a,b):
    #main logic of the function
    return

# lambda functions

In [62]:
df['gender'] = df.apply(lambda row: 'Youth Headed' if row['Household_Head_Age'] <= 30 else str(row['Household_Head_Gender']) + ' Headed', axis=1)

In [63]:
# df['gender'] = df.apply(
#     lambda row: 'Youth Headed' 
#     if row['age'] <= 30 
#     else str(row['gender']) + ' Headed', axis=1
# )

The code below does exactly what we have done above, but you realize it's more complex than the latter. You might not prefer this but its good to understand how functions work because sometimes they are the deal.

In [65]:
# def add_age(df, gender, age):
#     for index, row in df.iterrows():
#         if row[age] <= 30:
#             df.at[index, gender] = 'Youth Headed'
#         else:
#             df.at[index, gender] = str(row[variable]) + ' Headed'

In [ ]:
# def add_age(df, gender, age):
#     for index, row in df.iterrows():
#         if row[age] <= 30:
#             df.at[index, gender] = 'Youth Headed'
#         else:
#             df.at[index, gender] = str(row[variable]) + ' Headed'

We can apply the function like this by passing in the parameters, I did both ways, but the first one is even faster than this.

In [ ]:
# add_age(df, 'Household_Head_Gender','Household_Head_Age')

In [64]:
df.head()

,district,subcounty,parish_t,village,hhh_full_name,Household_Head_Age,Household_Head_Contact,Household_Head_Gender,hhid,Gender,gender
0,Mitooma,Mitooma,Nyakishojwa,Kashasha,Kyomuhangi Jadress,79,0763-25-28-10,Female,Mit-Kas-Kyo-F-082932-5,Female,Female Headed
1,Mitooma,Mitooma,Nyakishojwa,Karoza_A,Nuwagaba Charity,43,0778-56-33-66,Female,Mit-Kar-Nuw-F-082625-5,Female,Female Headed
2,Mitooma,Mitooma,Nyakishojwa,Kihunga_Nyakishowa,Twogirwe Mollias,36,0773-35-56-76,Female,Mit-Kih-Two-F-083135-5,Female,Female Headed
3,Mitooma,Mitooma,Nyakishojwa,Kaasha,Nomuhwezi Felix,57,0774-39-61-02,Male,Mit-Kaa-Nom-M-082154-5,Male,Male Headed
4,Mitooma,Mitooma,Nyakishojwa,Kibisho_A,Mauda Ndebwomwe,67,0706-94-93-06,Female,Mit-Kib-Mau-F-083009-5,Female,Female Headed

In [ ]:
df['Household_Head_Gender'] = df['gender']

In [ ]:
df['Household_Head_Gender'].value_counts()

Violla, you can see that we now have three categories with Youth included. We can get rid of the Gender and age columns since we nolonger need them. Pandas has another drop method. You just pass in a list of the columns you want to delete. Setting Inplace to true just makes the change parmanent. False makes it temporary.

### Dropping columns

In [ ]:
df.drop(columns=['gender',], inplace=True)

We can make filter subsets for these gender types using the tricks that we've learnt and store them in variables.

In [ ]:
male_HH_samp_frame = df[df['Household_Head_Gender']=='Male Headed']
female_HH_samp_frame = df[df['Household_Head_Gender']=='Female Headed']
youth_HH_samp_frame = df[df['Household_Head_Gender']=='Youth Headed']

In [ ]:
male_HH_samp_frame.shape, female_HH_samp_frame.shape, youth_HH_samp_frame.shape

In [ ]:
# male_HH_samp_frame.to_excel('mit/male_HH_samp_frame.xlsx', index=False)
# female_HH_samp_frame.to_excel('mit/female_HH_samp_frame.xlsx', index=False)
# youth_HH_samp_frame.to_excel('mit/youth_HH_samp_frame.xlsx', index=False)

If you want to store these subsets as excel files you can use the to_excel method and pass in the path.

To take it slow, we are going to sample males, females and youths separately

Using our distribution
- For villages > 100 samples we use 60 20 20 (Male Female Youths)
- otherwise we use 50 25 25 (Male Female Youths)

can we incorporate this:
for the sampling function

For villages > 100 samples we use 
60% of 30  for the males
20% of 30  for the females
20% of 30  for the youths

For villages < 100 samples we use
50% of 24 works is for the males
250% of 24 and for the females
25% of 24 and for the youths

for n >= 100 we need 30 sample, 
for n < 100 we need 24 samples

## Male Headed

In [ ]:
len(male_HH_samp_frame)

In [ ]:
# 60% of 30 and 60% of 24
print(f"60% of 30 is {0.6*30} whereas 50% of 24 is {0.5*24}")

In [1]:
sample_size = int(0.6*30)
sample_size

18

In [ ]:
threshold_count = 100

In [ ]:
village_counts = df['village'].value_counts()
village_counts

In [ ]:
village_counts[village_counts < 30]

In [ ]:
df['village'].iloc[2]

In [ ]:
village_counts.get('Kiogoma_1',0)

What this function does is that it takes a sample, picks the village name by index, checks wether the sample number is greater than or equal to the threshold. Does the sampling depending on the number.

In [ ]:
def custom_sample(x):
    village_name = x['village'].iloc[0]
    if village_counts.get(village_name, 0) >= 100:
        return x.sample(n=min(len(x), 18))
    else:
        return x.sample(n=min(len(x), 12))

Apply just works as our old lambda function, whereby you can

In [ ]:
male_target_sample = male_HH_samp_frame.groupby('village', group_keys=False).apply(custom_sample)

In [ ]:
len(male_target_sample)

We can generate a new column and assign a value target

In [ ]:
male_target_sample['status'] = 'target'

In [ ]:
male_target_sample.head()

Let's try to check the number of samples in Kako village, its 18

In [ ]:
len(male_target_sample[male_target_sample['village'] == 'Kako'])

In [ ]:
# male_target_sample.to_excel('mit/male_target_sample.xlsx', index=False)

But we need some reserves, let's do the same

## Reserve frame

we can drop the targets since we've already assigned them using the index

In [ ]:
male_reserve_s_frame = male_HH_samp_frame.drop(index = male_target_sample.index)

In [ ]:
# male_reserve_s_frame.to_excel('mit/male_reserve_s_frame.xlsx', index=False)

In [ ]:
male_reserve_sample = male_reserve_s_frame.groupby('village', group_keys=False).apply(custom_sample)

In [ ]:
male_reserve_sample['status'] = 'reserve'
male_reserve_sample.head()

In [ ]:
len(male_reserve_sample[male_reserve_sample['village'] == 'Kako'])

In [ ]:
# male_reserve_sample.to_excel('mit/male_reserve_sample.xlsx', index=False)

Let's combine the targets and reserves to come up with a complete sample for males

# Male Household Sample [Combining the Target and Reserve]

In [ ]:
male_target_sample.shape, male_reserve_sample.shape

In [ ]:
MALE_HH_SAMPLE = pd.concat([male_target_sample, male_reserve_sample])

If you have data frames with primary keys, you can rather join using merge, You can google it up.

In [ ]:
# MALE_HH_SAMPLE.to_excel('mit/MALE_HH_SAMPLE.xlsx', index=False)

We are done, let's simply do the same for females and youths

# FEMALE  Headed

In [ ]:
len(female_HH_samp_frame)

In [ ]:
female_HH_samp_frame.head()

You realize here that I am not using the custom function, because 20% of 30 and 25% of 24 all give 6 samples. We can just sample

In [ ]:
female_target_sample = female_HH_samp_frame.groupby('village', group_keys=False).apply(lambda x: x.sample(n=min(len(x), 6)))

In [ ]:
len(female_target_sample)

In [ ]:
female_target_sample['status'] = 'target'

In [ ]:
female_target_sample.head()

In [ ]:
# female_target_sample.to_excel('mit/female_target_sample.xlsx', index=False)

## Reserve frame

In [ ]:
female_reserve_s_frame = female_HH_samp_frame.drop(index = female_target_sample.index)
female_reserve_s_frame.shape

In [ ]:
# female_reserve_s_frame.to_excel('mit/female_reserve_s_frame.xlsx', index=False)

In [ ]:
female_reserve_sample = female_reserve_s_frame.groupby('village', group_keys=False).apply(lambda x: x.sample(n=min(len(x), 6)))

In [ ]:
female_reserve_sample['status'] = 'reserve'
female_reserve_sample.head()

In [ ]:
# female_reserve_sample.to_excel('mit/female_reserve_sample.xlsx', index=False)

In [ ]:
FEMALE_HH_SAMPLE = pd.concat([female_target_sample, female_reserve_sample])

In [ ]:
# FEMALE_HH_SAMPLE.to_excel('mit/FEMALE_HH_SAMPLE.xlsx', index=False)

# YOUTH Households

In [ ]:
len(youth_HH_samp_frame)

In [ ]:
youth_HH_samp_frame.head()

In [ ]:
youth_target_sample = youth_HH_samp_frame.groupby('village', group_keys=False).apply(lambda x: x.sample(n=min(len(x), 6)))

In [ ]:
len(youth_target_sample)

In [ ]:
youth_target_sample['status'] = 'target'

In [ ]:
youth_target_sample.head()

In [ ]:
# youth_target_sample.to_excel('mit/youth_target_sample.xlsx', index=False)

## Reserve frame

In [ ]:
youth_reserve_s_frame = youth_HH_samp_frame.drop(index = youth_target_sample.index)
youth_reserve_s_frame.shape

In [ ]:
# youth_reserve_s_frame.to_excel('mit/youth_reserve_s_frame.xlsx', index=False)

In [ ]:
youth_reserve_sample = youth_reserve_s_frame.groupby('village', group_keys=False).apply(lambda x: x.sample(n=min(len(x), 6)))

In [ ]:
youth_reserve_sample['status'] = 'reserve'
youth_reserve_sample.head()

In [ ]:
# youth_reserve_sample.to_excel('mit/youth_reserve_sample.xlsx', index=False)

# Youth Household Sample

In [ ]:
youth_target_sample.shape, youth_reserve_sample.shape

In [ ]:
YOUTH_HH_SAMPLE = pd.concat([youth_target_sample, youth_reserve_sample])

In [ ]:
# YOUTH_HH_SAMPLE.to_excel('mit/YOUTH_HH_SAMPLE.xlsx', index=False)

We now have sample for males, females, and youths. Let's combine.

# JOINING THE DATAFRAMES

In [ ]:
MALE_HH_SAMPLE.shape, FEMALE_HH_SAMPLE.shape, YOUTH_HH_SAMPLE.shape

In [ ]:
import numpy as np

In [ ]:
np.array((MALE_HH_SAMPLE.shape[0], FEMALE_HH_SAMPLE.shape[0], YOUTH_HH_SAMPLE.shape[0])).sum(), len(df)

In [ ]:
FINAL = pd.concat([MALE_HH_SAMPLE, FEMALE_HH_SAMPLE, YOUTH_HH_SAMPLE])

In [ ]:
FINAL.to_excel('FINAL_Track_sheets.xlsx', index=False)

In [ ]:
FINAL

In [ ]:
len(FINAL[FINAL['village'] == 'Yeruzalemu_C'])

## There is a term DRY used in software engineering meaning Dont Repeat yourself. There is alot of code repeating itself. However much the code works and does what it is intended to do, If an expert reads the code, they can easily grade you as a beginner.
- Let's see in the next series how we can write high quality code. If you curious you can try it yourself.
- You can also make this a script other than a jupyter notebook, can you do that. Give it a try. Notebooks are great for data analysis and exploratory anaysis plus experimenting things. But if your goal is to become a serious programmer, they might not take you that far. It's so easy to feel lazy to

In [ ]:
# grouped_data = FINAL.groupby('status')

# with pd.ExcelWriter('mit/01_Mitooma.xlsx', engine='openpyxl') as writer:
#     for status, group_df in grouped_data:
#         group_df.to_excel(writer, sheet_name=f'{status}', index=False)

In [ ]:
male_HH_samp_frame = df[df['Household_Head_Gender']=='Male Headed']
female_HH_samp_frame = df[df['Household_Head_Gender']=='Female Headed']
youth_HH_samp_frame = df[df['Household_Head_Gender']=='Youth Headed']

male_HH_samp_frame.shape, female_HH_samp_frame.shape, youth_HH_samp_frame.shape

# male_HH_samp_frame.to_excel('mit/male_HH_samp_frame.xlsx', index=False)
# female_HH_samp_frame.to_excel('mit/female_HH_samp_frame.xlsx', index=False)
# youth_HH_samp_frame.to_excel('mit/youth_HH_samp_frame.xlsx', index=False)

If you want to store these subsets as excel files you can use the to_excel method and pass in the path.

To take it slow, we are going to sample males, females and youths separately

Using our distribution
- For villages > 100 samples we use 60 20 20 (Male Female Youths)
- otherwise we use 50 25 25 (Male Female Youths)

for n >= 100 we need 30 sample, 
for n < 100 we need 24 samples

## Male Headed

len(male_HH_samp_frame)

# 60% of 30 and 60% of 24
print(f"60% of 30 is {0.6*30} whereas 50% of 24 is {0.5*24}")

sample_size = int(0.6*30)
sample_size

threshold_count = 100

village_counts = df['village'].value_counts()
village_counts

df['village'].iloc[2]

village_counts.get('Kiogoma_1',0)

What this function does is that it takes a sample, picks the village name by index, checks wether the sample number is greater than or equal to the threshold. Does the sampling depending on the number.

def custom_sample(x):
    village_name = x['village'].iloc[0]
    if village_counts.get(village_name, 0) >= 100:
        return x.sample(n=min(len(x), 18))
    else:
        return x.sample(n=min(len(x), 12))

Apply just works as our old lambda function, whereby you can 

male_target_sample = male_HH_samp_frame.groupby('village', group_keys=False).apply(custom_sample)

len(male_target_sample)

We can generate a new column and assign a value target

male_target_sample['status'] = 'target'

male_target_sample.head()

Let's try to check the number of samples in Kako village, its 18

len(male_target_sample[male_target_sample['village'] == 'Kako'])

# male_target_sample.to_excel('mit/male_target_sample.xlsx', index=False)

But we need some reserves, let's do the same

## Reserve frame

we can drop the targets since we've already assigned them using the index

male_reserve_s_frame = male_HH_samp_frame.drop(index = male_target_sample.index)

# male_reserve_s_frame.to_excel('mit/male_reserve_s_frame.xlsx', index=False)

male_reserve_sample = male_reserve_s_frame.groupby('village', group_keys=False).apply(custom_sample)

male_reserve_sample['status'] = 'reserve'
male_reserve_sample.head()

len(male_reserve_sample[male_reserve_sample['village'] == 'Kako'])

# male_reserve_sample.to_excel('mit/male_reserve_sample.xlsx', index=False)

Let's combine the targets and reserves to come up with a complete sample for males

# Male Household Sample [Combining the Target and Reserve]

male_target_sample.shape, male_reserve_sample.shape

MALE_HH_SAMPLE = pd.concat([male_target_sample, male_reserve_sample])

If you have data frames with primary keys, you can rather join using merge, You can google it up.

# MALE_HH_SAMPLE.to_excel('mit/MALE_HH_SAMPLE.xlsx', index=False)

We are done, let's simply do the same for females and youths

# FEMALE  Headed

len(female_HH_samp_frame)

female_HH_samp_frame.head()

You realize here that I am not using the custom function, because 20% of 30 and 25% of 24 all give 6 samples. We can just sample

female_target_sample = female_HH_samp_frame.groupby('village', group_keys=False).apply(lambda x: x.sample(n=min(len(x), 6)))

len(female_target_sample)

female_target_sample['status'] = 'target'

female_target_sample.head()

# female_target_sample.to_excel('mit/female_target_sample.xlsx', index=False)

## Reserve frame

female_reserve_s_frame = female_HH_samp_frame.drop(index = female_target_sample.index)
female_reserve_s_frame.shape

# female_reserve_s_frame.to_excel('mit/female_reserve_s_frame.xlsx', index=False)

female_reserve_sample = female_reserve_s_frame.groupby('village', group_keys=False).apply(lambda x: x.sample(n=min(len(x), 6)))

female_reserve_sample['status'] = 'reserve'
female_reserve_sample.head()

# female_reserve_sample.to_excel('mit/female_reserve_sample.xlsx', index=False)

FEMALE_HH_SAMPLE = pd.concat([female_target_sample, female_reserve_sample])

# FEMALE_HH_SAMPLE.to_excel('mit/FEMALE_HH_SAMPLE.xlsx', index=False)

# YOUTH Households

len(youth_HH_samp_frame)

youth_HH_samp_frame.head()

youth_target_sample = youth_HH_samp_frame.groupby('village', group_keys=False).apply(lambda x: x.sample(n=min(len(x), 6)))

len(youth_target_sample)

youth_target_sample['status'] = 'target'

youth_target_sample.head()

# youth_target_sample.to_excel('mit/youth_target_sample.xlsx', index=False)

## Reserve frame

youth_reserve_s_frame = youth_HH_samp_frame.drop(index = youth_target_sample.index)
youth_reserve_s_frame.shape

# youth_reserve_s_frame.to_excel('mit/youth_reserve_s_frame.xlsx', index=False)

youth_reserve_sample = youth_reserve_s_frame.groupby('village', group_keys=False).apply(lambda x: x.sample(n=min(len(x), 6)))

youth_reserve_sample['status'] = 'reserve'
youth_reserve_sample.head()

# youth_reserve_sample.to_excel('mit/youth_reserve_sample.xlsx', index=False)

# Youth Household Sample

youth_target_sample.shape, youth_reserve_sample.shape

YOUTH_HH_SAMPLE = pd.concat([youth_target_sample, youth_reserve_sample])

# YOUTH_HH_SAMPLE.to_excel('mit/YOUTH_HH_SAMPLE.xlsx', index=False)

We now have sample for males, females, and youths. Let's combine.

# JOINING THE DATAFRAMES

MALE_HH_SAMPLE.shape, FEMALE_HH_SAMPLE.shape, YOUTH_HH_SAMPLE.shape

import numpy as np

np.array((MALE_HH_SAMPLE.shape[0], FEMALE_HH_SAMPLE.shape[0], YOUTH_HH_SAMPLE.shape[0])).sum(), len(df)

FINAL = pd.concat([MALE_HH_SAMPLE, FEMALE_HH_SAMPLE, YOUTH_HH_SAMPLE])