In [1]:
import pandas as pd

In [12]:
data = pd.read_excel("Amuru_census.xlsx", sheet_name="Obbo_Parish")

In [13]:
df = data.copy()

In [14]:
print(df.shape)
df.tail(10)

(1487, 13)

,district,subcounty,parish_t,village,Sub_Village,hhid,hhh_full_name,Household_Head_Age,Household_Head_Contact,Household_Head_Gender,Spouse_Name,Spouse_Gender,Telephone_Contact
1477,Amuru,Lamogi,Obbo,Tworo_Akomo,Society,Amu-Two-Bob-M-150042-22,Bob Obwoya,74,0789-44-60-14,Male,Lamunu Christine,Female,0779-44-60-14
1478,Amuru,Lamogi,Obbo,Tworo_Akomo,Society,Amu-Two-Mod-M-150705-22,Moday Kumakech,40,0779-44-60-14,Male,Stalle Nam,Female,0779-44-60-14
1479,Amuru,Lamogi,Obbo,Tworo_Akomo,Society,Amu-Two-Bra-M-151143-22,Brain Ocaka,23,0779-44-60-14,Male,NaN,NaN,NaN
1480,Amuru,Lamogi,Obbo,Tworo_Akomo,Society,Amu-Two-Dor-F-151824-22,Dorine Agik,64,0778-60-54-21,Female,NaN,NaN,NaN
1481,Amuru,Lamogi,Obbo,Tworo_Akomo,Society,Amu-Two-Jac-M-152434-22,Jacob Oyoo,44,0786-46-56-06,Male,Aceng Grace,Female,0777-08-23-38
1482,Amuru,Lamogi,Obbo,Tworo_Akomo,Society,Amu-Two-Sol-M-153902-22,Solomon Odiya,21,0777-08-23-38,Male,NaN,NaN,NaN
1483,Amuru,Lamogi,Obbo,Tworo_Akomo,Society,Amu-Two-Chr-F-154826-22,Christine Akot,60,0766-84-20-31,Female,NaN,NaN,NaN
1484,Amuru,Lamogi,Obbo,Tworo_Akomo,Society,Amu-Two-Wil-M-155638-22,Wilfred Akera,31,0760-65-23-77,Male,Akaro Gloria,Female,0760-65-23-77
1485,Amuru,Lamogi,Obbo,Tworo_Akomo,Society,Amu-Two-Dic-M-160751-22,Dickson Otto,65,0780-23-20-31,Male,Aol Margert,Female,0765-04-84-85
1486,Amuru,Lamogi,Obbo,Tworo_Akomo,Society,Amu-Two-Jus-M-161605-22,Justine Oyet,35,0781-06-06-06,Male,Akello Scovia,Female,0780-52-69-41

In [15]:
df.columns.to_list()

['district',
 'subcounty',
 'parish_t',
 'village',
 'Sub_Village',
 'hhid',
 'hhh_full_name',
 'Household_Head_Age',
 'Household_Head_Contact',
 'Household_Head_Gender',
 'Spouse_Name',
 'Spouse_Gender',
 'Telephone_Contact']

In [6]:
columns = ['pre_district',
 'pre_subcounty',
 'pre_cluster',
 'pre_village',
 'hhid_2_again',
 'sid',
 'pre_name',
 'contact_no',
 'hh_category']

In [16]:
columns = ['district',
 'subcounty',
 'parish_t',
 'village',
 'Sub_Village',
 'hhid',
 'hhh_full_name',
 'Household_Head_Age',
 'Household_Head_Contact',
 'Household_Head_Gender',
 'Spouse_Name',
 'Spouse_Gender',
 'Telephone_Contact']

In [9]:
# df['Contact'] = df['contact']

In [18]:
df = df[columns]

In [20]:
df['HHH_Gender'] = df.apply(lambda row: 'Youth Headed' if row['Household_Head_Age'] <= 30 else str(row['Household_Head_Gender']) + ' Headed', axis=1)

In [21]:
df.head()

,district,subcounty,parish_t,village,Sub_Village,hhid,hhh_full_name,Household_Head_Age,Household_Head_Contact,Household_Head_Gender,Spouse_Name,Spouse_Gender,Telephone_Contact,HHH_Gender
0,Amuru,Lamogi,Obbo,Akwar,Alok_Ki_Winyo,Amu-Akw-Sim-M-145114-22,Simon Lakony,41,0756-98-28-43,Male,Apiyo Concy,Female,0765-81-55-64,Male Headed
1,Amuru,Lamogi,Obbo,Akwar,Alok_Ki_Winyo,Amu-Akw-Sim-M-152411-22,Simon Lakony,41,0756-98-28-43,Male,Adok Agnes,Female,0765-81-55-64,Male Headed
2,Amuru,Lamogi,Obbo,Akwar,Nen_Peko,Amu-Akw-Ric-M-153230-22,Richard Okello,40,0786-43-38-46,Male,Akello Beatrice,Female,0786-43-38-46,Male Headed
3,Amuru,Lamogi,Obbo,Akwar,Nen_Peko,Amu-Akw-Joh-M-154652-22,John Logwelo,41,0773-45-98-98,Male,Abalo Nancy,Female,0773-45-98-98,Male Headed
4,Amuru,Lamogi,Obbo,Akwar,Nen_Peko,Amu-Akw-Joh-M-155529-22,John Nyeko,58,0789-53-04-66,Male,Awilo Rose,Female,0789-53-04-66,Male Headed

In [22]:
df = df.drop_duplicates('hhid', keep='first')

In [23]:
df['HHH_Gender'].value_counts(dropna=False)

HHH_Gender
Youth Headed     587
Male Headed      537
Female Headed    357
Name: count, dtype: int64

In [24]:
df.head()

,district,subcounty,parish_t,village,Sub_Village,hhid,hhh_full_name,Household_Head_Age,Household_Head_Contact,Household_Head_Gender,Spouse_Name,Spouse_Gender,Telephone_Contact,HHH_Gender
0,Amuru,Lamogi,Obbo,Akwar,Alok_Ki_Winyo,Amu-Akw-Sim-M-145114-22,Simon Lakony,41,0756-98-28-43,Male,Apiyo Concy,Female,0765-81-55-64,Male Headed
1,Amuru,Lamogi,Obbo,Akwar,Alok_Ki_Winyo,Amu-Akw-Sim-M-152411-22,Simon Lakony,41,0756-98-28-43,Male,Adok Agnes,Female,0765-81-55-64,Male Headed
2,Amuru,Lamogi,Obbo,Akwar,Nen_Peko,Amu-Akw-Ric-M-153230-22,Richard Okello,40,0786-43-38-46,Male,Akello Beatrice,Female,0786-43-38-46,Male Headed
3,Amuru,Lamogi,Obbo,Akwar,Nen_Peko,Amu-Akw-Joh-M-154652-22,John Logwelo,41,0773-45-98-98,Male,Abalo Nancy,Female,0773-45-98-98,Male Headed
4,Amuru,Lamogi,Obbo,Akwar,Nen_Peko,Amu-Akw-Joh-M-155529-22,John Nyeko,58,0789-53-04-66,Male,Awilo Rose,Female,0789-53-04-66,Male Headed

In [25]:
male_HH_samp_frame = df[df['HHH_Gender']=='Male Headed']
female_HH_samp_frame = df[df['HHH_Gender']=='Female Headed']
youth_HH_samp_frame = df[df['HHH_Gender']=='Youth Headed']

In [26]:
male_HH_samp_frame.shape, female_HH_samp_frame.shape, youth_HH_samp_frame.shape

((537, 14), (357, 14), (587, 14))

## Male Headed

In [27]:
len(male_HH_samp_frame)

537

In [28]:
sample_size = 18
sample_size

18

In [112]:
def proportional_sample(group, sample_size):
    # Get total number of households in this group (i.e., pre_village)
    total_households = len(group)
    
    # If total households are less than the sample size, just return the whole group
    if total_households <= sample_size:
        return group
    
    # Group by 'sub_village'
    sub_village_groups = group.groupby('Sub_Village')
    
    # Calculate proportional sample size for each sub_village
    sub_village_sample_sizes = (sub_village_groups.size() / total_households * sample_size).round().astype(int)
    
    # Ensure total sample size equals the sample_size by adjusting the largest sub_village
    while sub_village_sample_sizes.sum() > sample_size:
        sub_village_sample_sizes[sub_village_sample_sizes.idxmax()] -= 1
    while sub_village_sample_sizes.sum() < sample_size:
        sub_village_sample_sizes[sub_village_sample_sizes.idxmax()] += 1
    
    # Apply sampling to each sub_village
    sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
    
    # Reset the index to remove the group keys
    return sampled.reset_index(drop=True)

Apply just works as our old lambda function, whereby you can

In [115]:
male_target_sample = male_HH_samp_frame.groupby('village', group_keys=False).apply(lambda x: proportional_sample(x, 18))

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/2626942136.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  male_target_sample = male_HH_samp_frame.groupby('village', group_keys=False).apply(lambda x: proportional_sample(x, 18))

In [116]:
male_target_sample

,district,subcounty,parish_t,village,Sub_Village,hhid,hhh_full_name,Household_Head_Age,Household_Head_Contact,Household_Head_Gender,Spouse_Name,Spouse_Gender,Telephone_Contact,HHH_Gender
0,Amuru,Lamogi,Obbo,Akwar,Akwanga_A,Amu-Akw-Ory-M-131337-22,Oryem Alul,52,0789-76-66-00,Male,Margreth Atuk,Female,0789-76-66-00,Male Headed
1,Amuru,Lamogi,Obbo,Akwar,Akwanga_B,Amu-Akw-Mwa-M-115336-22,Mwaka Sunday,36,0789-76-66-00,Male,NaN,NaN,NaN,Male Headed
2,Amuru,Lamogi,Obbo,Akwar,Akwanga_B,Amu-Akw-Oko-M-124644-22,Okot Francis,32,0789-76-66-00,Male,Susan Ajok,Female,0789-76-66-00,Male Headed
3,Amuru,Lamogi,Obbo,Akwar,Akwar_Center,Amu-Akw-Oti-M-175110-22,Otira Robert,45,0775-49-97-34,Male,Ketty Achiro,Female,0775-49-97-34,Male Headed
4,Amuru,Lamogi,Obbo,Akwar,Akwar_Center,Amu-Akw-Olo-M-180546-22,Oloya Oruk,80,0889-76-66-00,Male,Scovia Labol,Female,0789-76-66-00,Male Headed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13,Amuru,Lamogi,Obbo,Tworo_Akomo,Tee_Lawinyo,Amu-Two-Jos-M-110357-22,Joseph Kilara,64,0777-74-23-71,Male,Akwero Mary,Female,0777-74-23-71,Male Headed
14,Amuru,Lamogi,Obbo,Tworo_Akomo,Tworo_Akomo,Amu-Two-Geo-M-082022-22,Geoffery Oryem,36,0782-47-47-06,Male,Adokrach Judith,Female,0782-47-47-06,Male Headed
15,Amuru,Lamogi,Obbo,Tworo_Akomo,Tworo_Akomo,Amu-Two-Pat-M-183232-22,Patrick Owot,40,0774-60-60-75,Male,Alinga Jennifery,Female,0787-81-59-87,Male Headed
16,Amuru,Lamogi,Obbo,Tworo_Akomo,Tworo_Akomo,Amu-Two-Cha-M-175512-22,Charles Oceng,39,0781-02-45-86,Male,Angwech Nancy,Female,0781-02-45-86,Male Headed
17,Amuru,Lamogi,Obbo,Tworo_Akomo,Tworo_Akomo,Amu-Two-Bos-M-081725-22,Bosco Ouma,32,0788-42-10-73,Male,Arach Agness,Female,0788-42-10-73,Male Headed

We can generate a new column and assign a value target

In [117]:
print(male_target_sample['village'].nunique())

8

In [118]:
print(male_target_sample.groupby('village').size())

village
Akwar          18
Alego_Pac      18
Apotokitoo     18
Lamogi_Ber     18
Pamin_Naba     18
Pamin_Obi      18
Pamin_Otoo     18
Tworo_Akomo    18
dtype: int64

In [119]:
male_target_sample['status'] = 'target'

## Reserve frame

we can drop the targets since we've already assigned them using the index

In [120]:
male_reserve_s_frame = male_HH_samp_frame[~male_HH_samp_frame['hhid'].isin(male_target_sample['hhid'])]

In [80]:
# male_reserve_s_frame.to_excel('mit/male_reserve_s_frame.xlsx', index=False)

In [122]:
male_reserve_sample = male_reserve_s_frame.groupby('village', group_keys=False).apply(lambda x: proportional_sample(x, 18))

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/2222774980.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  male_reserve_sample = male_reserve_s_frame.groupby('village', group_keys=False).apply(lambda x: proportional_sample(x, 18))

In [123]:
male_reserve_sample['status'] = 'reserve'
male_reserve_sample.head()

,district,subcounty,parish_t,village,Sub_Village,hhid,hhh_full_name,Household_Head_Age,Household_Head_Contact,Household_Head_Gender,Spouse_Name,Spouse_Gender,Telephone_Contact,HHH_Gender,status
0,Amuru,Lamogi,Obbo,Akwar,Akwanga_A,Amu-Akw-Oku-M-135837-22,Okumu John,41,0774-14-20-39,Male,NaN,NaN,NaN,Male Headed,reserve
1,Amuru,Lamogi,Obbo,Akwar,Akwanga_B,Amu-Akw-Wat-M-105345-22,Watum Francis,45,0782-67-41-74,Male,Jenneth Auma,Female,0782-67-41-74,Male Headed,reserve
2,Amuru,Lamogi,Obbo,Akwar,Akwanga_B,Amu-Akw-Kom-M-112502-22,Komakech Bosco,40,0789-76-66-00,Male,Nzncy Auma,Female,0789-76-66-00,Male Headed,reserve
3,Amuru,Lamogi,Obbo,Akwar,Akwanga_B,Amu-Akw-Oci-M-114307-22,Ocitti Jimmy,53,0789-76-67-00,Male,Grace Aryemo,Female,0789-76-66-00,Male Headed,reserve
4,Amuru,Lamogi,Obbo,Akwar,Akwar_Center,Amu-Akw-Okw-M-171742-22,Okwera Peter,50,0789-76-66-00,Male,Beatrice Apoko,Female,0789-76-66-00,Male Headed,reserve

In [124]:
# male_reserve_sample.to_excel('mit/male_reserve_sample.xlsx', index=False)

Let's combine the targets and reserves to come up with a complete sample for males

# Male Household Sample [Combining the Target and Reserve]

In [125]:
male_target_sample.shape, male_reserve_sample.shape

((144, 15), (137, 15))

In [126]:
MALE_HH_SAMPLE = pd.concat([male_target_sample, male_reserve_sample])

# FEMALE  Headed

In [127]:
len(female_HH_samp_frame)

357

In [128]:
female_HH_samp_frame.head()

,district,subcounty,parish_t,village,Sub_Village,hhid,hhh_full_name,Household_Head_Age,Household_Head_Contact,Household_Head_Gender,Spouse_Name,Spouse_Gender,Telephone_Contact,HHH_Gender
11,Amuru,Lamogi,Obbo,Akwar,Nen_Peko,Amu-Akw-Aca-F-172731-22,Acaye David,82,0789-76-66-00,Female,NaN,NaN,NaN,Female Headed
12,Amuru,Lamogi,Obbo,Akwar,Nen_Peko,Amu-Akw-Kil-F-173539-22,Kila Lapobo,85,0789-76-66-00,Female,NaN,NaN,NaN,Female Headed
13,Amuru,Lamogi,Obbo,Akwar,Nen_Peko,Amu-Akw-Oye-F-174304-22,Oyella Eofenia,80,0789-76-66-00,Female,NaN,NaN,NaN,Female Headed
17,Amuru,Lamogi,Obbo,Akwar,Nen_Peko,Amu-Akw-Ado-F-185452-22,Adong Christine,42,0789-76-66-00,Female,NaN,NaN,NaN,Female Headed
19,Amuru,Lamogi,Obbo,Akwar,Nen_Peko,Amu-Akw-Ati-F-192237-22,Atim Monica,34,0789-76-66-00,Female,NaN,NaN,NaN,Female Headed

In [129]:
female_target_sample = female_HH_samp_frame.groupby('village', group_keys=False).apply(lambda x: proportional_sample(x, 6))

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/220561067.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  female_target_sample = female_HH_samp_frame.groupby('village', group_keys=False).apply(lambda x: proportional_sample(x, 6))

In [130]:
len(female_target_sample)

48

In [131]:
female_target_sample['status'] = 'target'

In [132]:
female_target_sample.head()

,district,subcounty,parish_t,village,Sub_Village,hhid,hhh_full_name,Household_Head_Age,Household_Head_Contact,Household_Head_Gender,Spouse_Name,Spouse_Gender,Telephone_Contact,HHH_Gender,status
0,Amuru,Lamogi,Obbo,Akwar,Akwanga_B,Amu-Akw-Ala-F-113855-22,Alanyo Jusphen,36,0789-76-66-00,Female,Walter Otto,Male,0789-76-66-00,Female Headed,target
1,Amuru,Lamogi,Obbo,Akwar,Akwar_Center,Amu-Akw-Aum-F-145720-22,Auma Filda,52,0789-76-66-00,Female,NaN,NaN,NaN,Female Headed,target
2,Amuru,Lamogi,Obbo,Akwar,Alok_Ki_Winyo,Amu-Akw-Ace-F-163025-22,Aceng Christine,50,0789-76-66-00,Female,NaN,NaN,NaN,Female Headed,target
3,Amuru,Lamogi,Obbo,Akwar,Amuru_Odwogo,Amu-Akw-Lab-F-065721-22,Labol Josca,45,0764-22-17-15,Female,NaN,NaN,NaN,Female Headed,target
4,Amuru,Lamogi,Obbo,Akwar,Nen_Peko,Amu-Akw-Ado-F-185452-22,Adong Christine,42,0789-76-66-00,Female,NaN,NaN,NaN,Female Headed,target

## Reserve frame

In [133]:
female_reserve_s_frame = female_HH_samp_frame[~female_HH_samp_frame['hhid'].isin(female_target_sample['hhid'])]
female_reserve_s_frame.shape

(309, 14)

In [ ]:
groupby('village', group_keys=False).apply(lambda x: proportional_sample(x, 18))

In [49]:
# female_reserve_s_frame.to_excel('mit/female_reserve_s_frame.xlsx', index=False)

In [134]:
female_reserve_sample = female_reserve_s_frame.groupby('village', group_keys=False).apply(lambda x: proportional_sample(x, 6))

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/147050047.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  female_reserve_sample = female_reserve_s_frame.groupby('village', group_keys=False).apply(lambda x: proportional_sample(x, 6))

In [135]:
female_reserve_sample['status'] = 'reserve'
female_reserve_sample.head()

,district,subcounty,parish_t,village,Sub_Village,hhid,hhh_full_name,Household_Head_Age,Household_Head_Contact,Household_Head_Gender,Spouse_Name,Spouse_Gender,Telephone_Contact,HHH_Gender,status
0,Amuru,Lamogi,Obbo,Akwar,Akwanga_B,Amu-Akw-Aci-F-104114-22,Aciro Lucy,52,0789-76-66-00,Female,NaN,NaN,NaN,Female Headed,reserve
1,Amuru,Lamogi,Obbo,Akwar,Akwanga_B,Amu-Akw-Ach-F-102428-22,Achiro Christine,53,0789-76-66-00,Female,Wanok Abola,Male,0789-76-67-00,Female Headed,reserve
2,Amuru,Lamogi,Obbo,Akwar,Akwar_Center,Amu-Akw-Aca-F-150104-22,Acaa Pinina,64,0789-76-66-00,Female,NaN,NaN,NaN,Female Headed,reserve
3,Amuru,Lamogi,Obbo,Akwar,Alok_Ki_Winyo,Amu-Akw-Lil-F-162913-22,Lilly Acan,45,0761-43-66-89,Female,NaN,NaN,NaN,Female Headed,reserve
4,Amuru,Lamogi,Obbo,Akwar,Nen_Peko,Amu-Akw-Ati-F-192237-22,Atim Monica,34,0789-76-66-00,Female,NaN,NaN,NaN,Female Headed,reserve

In [136]:
# female_reserve_sample.to_excel('mit/female_reserve_sample.xlsx', index=False)

In [137]:
FEMALE_HH_SAMPLE = pd.concat([female_target_sample, female_reserve_sample])

In [138]:
# FEMALE_HH_SAMPLE.to_excel('mit/FEMALE_HH_SAMPLE.xlsx', index=False)

# YOUTH Households

In [139]:
len(youth_HH_samp_frame)

587

In [140]:
youth_HH_samp_frame.head()

,district,subcounty,parish_t,village,Sub_Village,hhid,hhh_full_name,Household_Head_Age,Household_Head_Contact,Household_Head_Gender,Spouse_Name,Spouse_Gender,Telephone_Contact,HHH_Gender
6,Amuru,Lamogi,Obbo,Akwar,Nen_Peko,Amu-Akw-Mic-M-163753-22,Micheal Ochula,28,0789-76-66-00,Male,Lapolo Sharon,Female,0789-76-66-00,Youth Headed
7,Amuru,Lamogi,Obbo,Akwar,Nen_Peko,Amu-Akw-Mic-M-164513-22,Micheal Ochula,26,0789-76-66-00,Male,Acayo Concy,Female,0789-76-66-00,Youth Headed
8,Amuru,Lamogi,Obbo,Akwar,Nen_Peko,Amu-Akw-Jam-M-165319-22,James Odoch,20,0763-64-79-92,Male,Aber Sharon,Female,0763-64-79-92,Youth Headed
9,Amuru,Lamogi,Obbo,Akwar,Nen_Peko,Amu-Akw-Jim-M-170006-22,Jimmy Akena,25,0789-54-22-23,Male,Mary Akello,Female,0789-53-04-66,Youth Headed
10,Amuru,Lamogi,Obbo,Akwar,Nen_Peko,Amu-Akw-Dav-M-171744-22,David Ouma,30,0772-57-52-18,Male,Grace Adong,Female,0772-57-52-18,Youth Headed

In [141]:
youth_target_sample = youth_HH_samp_frame.groupby('village', group_keys=False).apply(lambda x: proportional_sample(x, 6))

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1569614452.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  youth_target_sample = youth_HH_samp_frame.groupby('village', group_keys=False).apply(lambda x: proportional_sample(x, 6))

In [142]:
len(youth_target_sample)

48

In [143]:
youth_target_sample['status'] = 'target'

In [144]:
youth_target_sample.head()

,district,subcounty,parish_t,village,Sub_Village,hhid,hhh_full_name,Household_Head_Age,Household_Head_Contact,Household_Head_Gender,Spouse_Name,Spouse_Gender,Telephone_Contact,HHH_Gender,status
0,Amuru,Lamogi,Obbo,Akwar,Akwar_Center,Amu-Akw-Oca-M-174423-22,Ocaya Georffrey,21,0775-49-97-34,Male,Florence Ageno,Female,0789-76-66-00,Youth Headed,target
1,Amuru,Lamogi,Obbo,Akwar,Alok_Ki_Winyo,Amu-Akw-Wok-M-180528-22,Wokorach Morish,27,0789-76-66-00,Male,Apiyo Gloria,Female,0789-76-66-00,Youth Headed,target
2,Amuru,Lamogi,Obbo,Akwar,Amuru_Odwogo,Amu-Akw-Oko-M-204144-22,Okoya Richard,30,0789-76-66-00,Male,Scovia Angee,Female,0789-76-66-00,Youth Headed,target
3,Amuru,Lamogi,Obbo,Akwar,Menya,Amu-Akw-Okd-M-083406-22,Okdllo Denis,26,0789-76-66-00,Male,Hariet Atimango,Female,0789-76-66-00,Youth Headed,target
4,Amuru,Lamogi,Obbo,Akwar,Nen_Peko,Amu-Akw-Oko-M-075254-22,Okoya Stephen,23,0784-77-66-34,Male,Laker Kevin,Female,0784-77-66-34,Youth Headed,target

In [61]:
# youth_target_sample.to_excel('mit/youth_target_sample.xlsx', index=False)

## Reserve frame

In [145]:
male_reserve_s_frame = youth_HH_samp_frame[~youth_HH_samp_frame['hhid'].isin(youth_target_sample['hhid'])]

In [63]:
# youth_reserve_s_frame.to_excel('mit/youth_reserve_s_frame.xlsx', index=False)

In [146]:
youth_reserve_sample = youth_reserve_s_frame.groupby('village', group_keys=False).apply(lambda x: proportional_sample(x, 6))

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/1466310018.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled = sub_village_groups.apply(lambda x: x.sample(n=min(len(x), sub_village_sample_sizes[x.name])))
/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_63563/208965665.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  youth_reserve_sample = youth_reserve_s_frame.groupby('village', group_keys=False).apply(lambda x: proportional_sample(x, 6))

In [147]:
youth_reserve_sample['status'] = 'reserve'
youth_reserve_sample.head()

,district,subcounty,parish_t,village,Sub_Village,hhid,hhh_full_name,Household_Head_Age,Household_Head_Contact,Household_Head_Gender,Spouse_Name,Spouse_Gender,Telephone_Contact,HHH_Gender,status
0,Amuru,Lamogi,Obbo,Akwar,Akwar_Center,Amu-Akw-Ane-F-153424-22,Anena Susan,27,0789-76-66-00,Female,Denish Odong,Male,0789-76-67-00,Youth Headed,reserve
1,Amuru,Lamogi,Obbo,Akwar,Alok_Ki_Winyo,Amu-Akw-Sam-M-181957-22,Samuel Kaduch,20,0775-13-74-64,Male,Akanyo Docus,Female,0777-90-96-57,Youth Headed,reserve
2,Amuru,Lamogi,Obbo,Akwar,Amuru_Odwogo,Amu-Akw-Abs-F-211624-22,Abslo Jenneth,24,0789-76-66-00,Female,NaN,NaN,NaN,Youth Headed,reserve
3,Amuru,Lamogi,Obbo,Akwar,Menya,Amu-Akw-Oke-M-092848-22,Oketta Julius,20,0789-76-66-00,Male,Mercy Lagum,Female,0789-76-66-00,Youth Headed,reserve
4,Amuru,Lamogi,Obbo,Akwar,Nen_Peko,Amu-Akw-Mic-M-164513-22,Micheal Ochula,26,0789-76-66-00,Male,Acayo Concy,Female,0789-76-66-00,Youth Headed,reserve

In [148]:
# youth_reserve_sample.to_excel('mit/youth_reserve_sample.xlsx', index=False)

# Youth Household Sample

In [149]:
youth_target_sample.shape, youth_reserve_sample.shape

((48, 15), (48, 15))

In [150]:
YOUTH_HH_SAMPLE = pd.concat([youth_target_sample, youth_reserve_sample])

In [151]:
# YOUTH_HH_SAMPLE.to_excel('mit/YOUTH_HH_SAMPLE.xlsx', index=False)

We now have sample for males, females, and youths. Let's combine.

# JOINING THE DATAFRAMES

In [152]:
MALE_HH_SAMPLE.shape, FEMALE_HH_SAMPLE.shape, YOUTH_HH_SAMPLE.shape

((281, 15), (96, 15), (96, 15))

In [153]:
import numpy as np

In [154]:
np.array((MALE_HH_SAMPLE.shape[0], FEMALE_HH_SAMPLE.shape[0], YOUTH_HH_SAMPLE.shape[0])).sum(), len(df)

(473, 1481)

In [155]:
FINAL = pd.concat([MALE_HH_SAMPLE, FEMALE_HH_SAMPLE, YOUTH_HH_SAMPLE])

In [156]:
FINAL.to_excel('Amuru_Randomized.xlsx', index=False)