In [1]:
import pandas as pd

In [2]:
data = pd.read_excel("Master_Missing_Clusters corrected.xlsx")

In [3]:
df = data.copy()

In [4]:
print(df.shape)
df.tail(10)

(20168, 13)

,district,subcounty,Parish,village,cohort,Cycle,hhh_name,age,Contact,gender,brk_out_err,id,m_preload
20158,Mitooma,Rurehe,Rurehe South,Rwenkuba,2022,B,Ronard Katurebe,38.0,774981346.0,Male,NaN,MIT-RWE-RON-M-38252,Mitooma
20159,Mitooma,Rurehe,Rurehe South,Rwenkuba,2022,B,Seforoza Kamasegye,73.0,99.0,Female,NaN,MIT-RWE-SEF-F-38338,Mitooma
20160,Mitooma,Rurehe,Rurehe South,Rwenkuba,2022,B,Silva Rwemijende,50.0,787953807.0,Male,NaN,MIT-RWE-SIL-M-38303,Mitooma
20161,Mitooma,Rurehe,Rurehe South,Rwenkuba,2022,B,Simith Kibirigye,70.0,775220805.0,Male,NaN,MIT-RWE-SIM-M-38331,Mitooma
20162,Mitooma,Rurehe,Rurehe South,Rwenkuba,2022,B,Vajirina Murekye,85.0,992.0,Female,NaN,MIT-RWE-VAJ-F-38322,Mitooma
20163,Mitooma,Rurehe,Rurehe South,Rwenkuba,2022,B,Venesia Twogirwe,47.0,772663391.0,Female,NaN,MIT-RWE-VEN-F-38275,Mitooma
20164,Mitooma,Rurehe,Rurehe South,Rwenkuba,2022,B,Verinah Kemishara,60.0,779511808.0,Female,NaN,MIT-RWE-VER-F-38335,Mitooma
20165,Mitooma,Rurehe,Rurehe South,Rwenkuba,2022,B,Vereriano Kaharuza,85.0,99.0,Male,NaN,MIT-RWE-VER-M-38239,Mitooma
20166,Mitooma,Rurehe,Rurehe South,Rwenkuba,2022,B,Wiikirife Ssekamate,32.0,761147550.0,Male,NaN,MIT-RWE-WII-M-38251,Mitooma
20167,Mitooma,Rurehe,Rurehe South,Rwenkuba,2022,B,Willison Kasese,57.0,774163744.0,Male,NaN,MIT-RWE-WIL-M-38238,Mitooma

In [5]:
df.columns.to_list()

['district',
 'subcounty',
 'Parish',
 'village',
 'cohort',
 'Cycle',
 'hhh_name',
 'age',
 'Contact',
 'gender',
 'brk_out_err',
 'id',
 'm_preload']

In [6]:
columns = [
 'district',
 'subcounty',
 'Parish',
 'village',
 'hhh_name',
 'age',
 'Contact',
 'gender',
 'id',
 ]

In [7]:
df = df[columns]

In [8]:
df.head()

,district,subcounty,Parish,village,hhh_name,age,Contact,gender,id
0,Kanungu,Kanyantorogo,Kihembe,Kanyansande_Kihembe,Glorious Kyomukama,41.0,777430498.0,Female,NaN
1,Kagadi,Ruteete,Ruboona,Bufundi,Abel Ngabirino,48.0,778344783.0,Male,KAG-BUF-ABE-M-42833
2,Kagadi,Ruteete,Ruboona,Bufundi,Adson Twirinabo,32.0,774646347.0,Male,KAG-BUF-ADS-M-42789
3,Kagadi,Ruteete,Ruboona,Bufundi,Agnes Kyampire,35.0,99.0,Female,KAG-BUF-AGN-F-42815
4,Kagadi,Ruteete,Ruboona,Bufundi,Augustine Sunday,45.0,99.0,Male,KAG-BUF-AUG-M-42811

In [9]:
df = df.drop_duplicates('id', keep='first')

In [10]:
df['gender'].value_counts(dropna=False)

gender
Male      14353
Female     4891
NaN         446
male        308
M            78
female       67
F            25
Name: count, dtype: int64

In [11]:
gender_mapping = {
    'male': 'Male',
    'm':'Male',
    'female': 'Female',
    'f': 'Female',
    'feamale': 'Female',
    'female`': 'Female',
    'femaLe':'Female',
    'femae': 'Female',
    'male ': 'Male'
}

In [12]:
df['gender'] = df['gender'].str.lower().map(gender_mapping)

In [13]:
df['HHH_Gender'] = df['gender']

In [14]:
df['HHH_Gender'].value_counts(dropna=False)

HHH_Gender
Male      14739
Female     4983
NaN         446
Name: count, dtype: int64

In [15]:
df['gender'] = df.apply(
    lambda row: 'Youth Headed' 
    if row['age'] <= 30 
    else str(row['gender']) + ' Headed', axis=1
)

In [19]:
df.tail(15)

,district,subcounty,Parish,village,hhh_name,age,Contact,gender,id,HHH_Gender
20153,Mitooma,Rurehe,Rurehe South,Rwenkuba,Ri chard Karazi,49.0,99.0,Male Headed,MIT-RWE-RI -M-38271,Male
20154,Mitooma,Rurehe,Rurehe South,Rwenkuba,Ro bina Kabakire,80.0,99.0,Female Headed,MIT-RWE-RO -F-38247,Female
20155,Mitooma,Rurehe,Rurehe South,Rwenkuba,Robert Twazagye,45.0,77440002.0,Male Headed,MIT-RWE-ROB-M-38340,Male
20156,Mitooma,Rurehe,Rurehe South,Rwenkuba,Ronda Bagyema,80.0,780123808.0,Female Headed,MIT-RWE-RON-F-38320,Female
20157,Mitooma,Rurehe,Rurehe South,Rwenkuba,Ronard Turwomwe,36.0,787299414.0,Male Headed,MIT-RWE-RON-M-38248,Male
20158,Mitooma,Rurehe,Rurehe South,Rwenkuba,Ronard Katurebe,38.0,774981346.0,Male Headed,MIT-RWE-RON-M-38252,Male
20159,Mitooma,Rurehe,Rurehe South,Rwenkuba,Seforoza Kamasegye,73.0,99.0,Female Headed,MIT-RWE-SEF-F-38338,Female
20160,Mitooma,Rurehe,Rurehe South,Rwenkuba,Silva Rwemijende,50.0,787953807.0,Male Headed,MIT-RWE-SIL-M-38303,Male
20161,Mitooma,Rurehe,Rurehe South,Rwenkuba,Simith Kibirigye,70.0,775220805.0,Male Headed,MIT-RWE-SIM-M-38331,Male
20162,Mitooma,Rurehe,Rurehe South,Rwenkuba,Vajirina Murekye,85.0,992.0,Female Headed,MIT-RWE-VAJ-F-38322,Female
20163,Mitooma,Rurehe,Rurehe South,Rwenkuba,Venesia Twogirwe,47.0,772663391.0,Female Headed,MIT-RWE-VEN-F-38275,Female
20164,Mitooma,Rurehe,Rurehe South,Rwenkuba,Verinah Kemishara,60.0,779511808.0,Female Headed,MIT-RWE-VER-F-38335,Female
20165,Mitooma,Rurehe,Rurehe South,Rwenkuba,Vereriano Kaharuza,85.0,99.0,Male Headed,MIT-RWE-VER-M-38239,Male
20166,Mitooma,Rurehe,Rurehe South,Rwenkuba,Wiikirife Ssekamate,32.0,761147550.0,Male Headed,MIT-RWE-WII-M-38251,Male
20167,Mitooma,Rurehe,Rurehe South,Rwenkuba,Willison Kasese,57.0,774163744.0,Male Headed,MIT-RWE-WIL-M-38238,Male

In [20]:
df['gender'].value_counts()

gender
Male Headed      10103
Youth Headed      5523
Female Headed     4101
nan Headed         441
Name: count, dtype: int64

The code below does exactly what we have done above, but you realize it's more complex than the latter. You might not prefer this but its good to understand how functions work because sometimes they are the deal.

In [21]:
# def add_age(df, gender, age):
#     for index, row in df.iterrows():
#         if row[age] <= 30:
#             df.at[index, gender] = 'Youth Headed'
#         else:
#             df.at[index, gender] = str(row[variable]) + ' Headed'

We can apply the function like this by passing in the parameters, I did both ways, but the first one is even faster than this.

In [22]:
# add_age(df, 'Household_Head_Gender','Household_Head_Age')

In [27]:
df.head()

,district,subcounty,Parish,village,hhh_name,age,Contact,gender,id,HHH_Gender,Household_Head_Gender
0,Kanungu,Kanyantorogo,Kihembe,Kanyansande_Kihembe,Glorious Kyomukama,41.0,777430498.0,Female Headed,NaN,Female,Female Headed
1,Kagadi,Ruteete,Ruboona,Bufundi,Abel Ngabirino,48.0,778344783.0,Male Headed,KAG-BUF-ABE-M-42833,Male,Male Headed
2,Kagadi,Ruteete,Ruboona,Bufundi,Adson Twirinabo,32.0,774646347.0,Male Headed,KAG-BUF-ADS-M-42789,Male,Male Headed
3,Kagadi,Ruteete,Ruboona,Bufundi,Agnes Kyampire,35.0,99.0,Female Headed,KAG-BUF-AGN-F-42815,Female,Female Headed
4,Kagadi,Ruteete,Ruboona,Bufundi,Augustine Sunday,45.0,99.0,Male Headed,KAG-BUF-AUG-M-42811,Male,Male Headed

In [25]:
df['Household_Head_Gender'] = df['gender']

In [28]:
df.drop(columns=['gender','HHH_Gender'], inplace=True)

In [29]:
df['Household_Head_Gender'].value_counts()

Household_Head_Gender
Male Headed      10103
Youth Headed      5523
Female Headed     4101
nan Headed         441
Name: count, dtype: int64

In [30]:
male_HH_samp_frame = df[df['Household_Head_Gender']=='Male Headed']
female_HH_samp_frame = df[df['Household_Head_Gender']=='Female Headed']
youth_HH_samp_frame = df[df['Household_Head_Gender']=='Youth Headed']

In [31]:
male_HH_samp_frame.shape, female_HH_samp_frame.shape, youth_HH_samp_frame.shape

((10103, 9), (4101, 9), (5523, 9))

## Male Headed

In [32]:
len(male_HH_samp_frame)

10103

In [33]:
sample_size = 9
sample_size

9

In [34]:
def custom_sample(x):
    return x.sample(n=min(len(x), 9))

Apply just works as our old lambda function, whereby you can

In [35]:
male_target_sample = male_HH_samp_frame.groupby('village', group_keys=False).apply(custom_sample)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_41015/2781854579.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  male_target_sample = male_HH_samp_frame.groupby('village', group_keys=False).apply(custom_sample)

In [36]:
len(male_target_sample)

1431

In [37]:
male_HH_samp_frame

,district,subcounty,Parish,village,hhh_name,age,Contact,id,Household_Head_Gender
1,Kagadi,Ruteete,Ruboona,Bufundi,Abel Ngabirino,48.0,778344783.0,KAG-BUF-ABE-M-42833,Male Headed
2,Kagadi,Ruteete,Ruboona,Bufundi,Adson Twirinabo,32.0,774646347.0,KAG-BUF-ADS-M-42789,Male Headed
4,Kagadi,Ruteete,Ruboona,Bufundi,Augustine Sunday,45.0,99.0,KAG-BUF-AUG-M-42811,Male Headed
5,Kagadi,Ruteete,Ruboona,Bufundi,Bakyina Reho,60.0,99.0,KAG-BUF-BAK-M-42851,Male Headed
6,Kagadi,Ruteete,Ruboona,Bufundi,Banada byamugyisha,51.0,777651982.0,KAG-BUF-BAN-M-42787,Male Headed
...,...,...,...,...,...,...,...,...,...
20160,Mitooma,Rurehe,Rurehe South,Rwenkuba,Silva Rwemijende,50.0,787953807.0,MIT-RWE-SIL-M-38303,Male Headed
20161,Mitooma,Rurehe,Rurehe South,Rwenkuba,Simith Kibirigye,70.0,775220805.0,MIT-RWE-SIM-M-38331,Male Headed
20165,Mitooma,Rurehe,Rurehe South,Rwenkuba,Vereriano Kaharuza,85.0,99.0,MIT-RWE-VER-M-38239,Male Headed
20166,Mitooma,Rurehe,Rurehe South,Rwenkuba,Wiikirife Ssekamate,32.0,761147550.0,MIT-RWE-WII-M-38251,Male Headed
20167,Mitooma,Rurehe,Rurehe South,Rwenkuba,Willison Kasese,57.0,774163744.0,MIT-RWE-WIL-M-38238,Male Headed

We can generate a new column and assign a value target

In [38]:
male_target_sample['status'] = 'target'

In [39]:
male_target_sample

,district,subcounty,Parish,village,hhh_name,age,Contact,id,Household_Head_Gender,status
10066,Kyenjojo,Kyembogo,Mparo,Aswa,Sillipisio Kabalekye,67.0,99.0,KYE-ASW-SIL-M-33537,Male Headed,target
10062,Kyenjojo,Kyembogo,Mparo,Aswa,Sam Olimwikyiliza,58.0,99.0,KYE-ASW-SAM-M-33795,Male Headed,target
10056,Kyenjojo,Kyembogo,Mparo,Aswa,Richald Kashija,47.0,99.0,KYE-ASW-RIC-M-33514,Male Headed,target
9971,Kyenjojo,Kyembogo,Mparo,Aswa,Edward Bagairusa,43.0,99.0,KYE-ASW-EDW-M-33725,Male Headed,target
10073,Kyenjojo,Kyembogo,Mparo,Aswa,Vicent Mwehakanire,61.0,776346787.0,KYE-ASW-VIC-M-33624,Male Headed,target
...,...,...,...,...,...,...,...,...,...,...
4970,Kagadi,Rugashari,Yorodani,Yorodani_B,John Habiiya,35.0,99.0,KAG-YOR-JOH-M-31134,Male Headed,target
4966,Kagadi,Rugashari,Yorodani,Yorodani_B,Johnbosco Barigomwa,50.0,781903141.0,KAG-YOR-JOH-M-30944,Male Headed,target
4852,Kagadi,Rugashari,Yorodani,Yorodani_B,Arlone Tumuhereze,55.0,778510273.0,KAG-YOR-ARL-M-31153,Male Headed,target
5107,Kagadi,Rugashari,Yorodani,Yorodani_B,Vicent Ndiwayezu,36.0,784235322.0,KAG-YOR-VIC-M-31120,Male Headed,target
4967,Kagadi,Rugashari,Yorodani,Yorodani_B,John Nsabimaana,42.0,771983214.0,KAG-YOR-JOH-M-30974,Male Headed,target

## Reserve frame

we can drop the targets since we've already assigned them using the index

In [40]:
male_reserve_s_frame = male_HH_samp_frame.drop(index = male_target_sample.index)

In [41]:
# male_reserve_s_frame.to_excel('mit/male_reserve_s_frame.xlsx', index=False)

In [42]:
male_reserve_sample = male_reserve_s_frame.groupby('village', group_keys=False).apply(lambda x: x.sample(n=min(len(x), 4)))

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_41015/2138712636.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  male_reserve_sample = male_reserve_s_frame.groupby('village', group_keys=False).apply(lambda x: x.sample(n=min(len(x), 4)))

In [43]:
male_reserve_sample['status'] = 'reserve'
male_reserve_sample.head()

,district,subcounty,Parish,village,hhh_name,age,Contact,id,Household_Head_Gender,status
10064,Kyenjojo,Kyembogo,Mparo,Aswa,Satarday Enock,34.0,780907887.0,KYE-ASW-SAT-M-33595,Male Headed,reserve
10078,Kyenjojo,Kyembogo,Mparo,Aswa,Willy Twesije,36.0,99.0,KYE-ASW-WIL-M-33619,Male Headed,reserve
9999,Kyenjojo,Kyembogo,Mparo,Aswa,God Nyakyira,44.0,779437260.0,KYE-ASW-GOD-M-33574,Male Headed,reserve
10067,Kyenjojo,Kyembogo,Mparo,Aswa,Silivano Kukundakwe,39.0,99.0,KYE-ASW-SIL-M-33631,Male Headed,reserve
10083,Kyenjojo,Kihuura,Ngombe,Bisa,Adolf Mawanda,60.0,775917042.0,KYE-BIS-ADO-M-47951,Male Headed,reserve

In [44]:
# male_reserve_sample.to_excel('mit/male_reserve_sample.xlsx', index=False)

Let's combine the targets and reserves to come up with a complete sample for males

# Male Household Sample [Combining the Target and Reserve]

In [45]:
male_target_sample.shape, male_reserve_sample.shape

((1431, 10), (634, 10))

In [46]:
MALE_HH_SAMPLE = pd.concat([male_target_sample, male_reserve_sample])

# FEMALE  Headed

In [47]:
len(female_HH_samp_frame)

4101

In [48]:
female_HH_samp_frame.head()

,district,subcounty,Parish,village,hhh_name,age,Contact,id,Household_Head_Gender
0,Kanungu,Kanyantorogo,Kihembe,Kanyansande_Kihembe,Glorious Kyomukama,41.0,777430498.0,NaN,Female Headed
3,Kagadi,Ruteete,Ruboona,Bufundi,Agnes Kyampire,35.0,99.0,KAG-BUF-AGN-F-42815,Female Headed
8,Kagadi,Ruteete,Ruboona,Bufundi,Beatrace Komuhagyi,45.0,99.0,KAG-BUF-BEA-F-42776,Female Headed
10,Kagadi,Ruteete,Ruboona,Bufundi,Dafanako Dafuronza,70.0,99.0,KAG-BUF-DAF-F-42819,Female Headed
11,Kagadi,Ruteete,Ruboona,Bufundi,Edisa Nyiragabi,77.0,99.0,KAG-BUF-EDI-F-42837,Female Headed

In [49]:
female_target_sample = female_HH_samp_frame.groupby('village', group_keys=False).apply(lambda x: x.sample(n=min(len(x), 3)))

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_41015/449293486.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  female_target_sample = female_HH_samp_frame.groupby('village', group_keys=False).apply(lambda x: x.sample(n=min(len(x), 3)))

In [50]:
len(female_target_sample)

478

In [51]:
female_target_sample['status'] = 'target'

In [52]:
female_target_sample.head()

,district,subcounty,Parish,village,hhh_name,age,Contact,id,Household_Head_Gender,status
9963,Kyenjojo,Kyembogo,Mparo,Aswa,Denavensi Kobusinje,40.0,99.0,KYE-ASW-DEN-F-33784,Female Headed,target
9995,Kyenjojo,Kyembogo,Mparo,Aswa,Gaoudensia Tugumisirize,50.0,99.0,KYE-ASW-GAO-F-33588,Female Headed,target
10027,Kyenjojo,Kyembogo,Mparo,Aswa,Jovanis Tindiweji,74.0,783799882.0,KYE-ASW-JOV-F-33664,Female Headed,target
10157,Kyenjojo,Kihuura,Ngombe,Bisa,Jane Kabagenyi,60.0,99.0,KYE-BIS-JAN-F-47834,Female Headed,target
10092,Kyenjojo,Kihuura,Ngombe,Bisa,Annet Kansiime,35.0,99.0,KYE-BIS-ANN-F-108820,Female Headed,target

## Reserve frame

In [53]:
female_reserve_s_frame = female_HH_samp_frame.drop(index = female_target_sample.index)
female_reserve_s_frame.shape

(3623, 9)

In [54]:
# female_reserve_s_frame.to_excel('mit/female_reserve_s_frame.xlsx', index=False)

In [55]:
female_reserve_sample = female_reserve_s_frame.groupby('village', group_keys=False).apply(lambda x: x.sample(n=min(len(x), 2)))

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_41015/2689120184.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  female_reserve_sample = female_reserve_s_frame.groupby('village', group_keys=False).apply(lambda x: x.sample(n=min(len(x), 2)))

In [56]:
female_reserve_sample['status'] = 'reserve'
female_reserve_sample.head()

,district,subcounty,Parish,village,hhh_name,age,Contact,id,Household_Head_Gender,status
10002,Kyenjojo,Kyembogo,Mparo,Aswa,Goret Kagubale,90.0,99.0,KYE-ASW-GOR-F-33628,Female Headed,reserve
10019,Kyenjojo,Kyembogo,Mparo,Aswa,Jolly Kyalisima,53.0,99.0,KYE-ASW-JOL-F-33635,Female Headed,reserve
10185,Kyenjojo,Kihuura,Ngombe,Bisa,Lucy Nganzi,36.0,779573683.0,KYE-BIS-LUC-F-47947,Female Headed,reserve
10142,Kyenjojo,Kihuura,Ngombe,Bisa,Gatrude Kobusinge,33.0,99.0,KYE-BIS-GAT-F-48007,Female Headed,reserve
5147,Kaliro,Gadumire,Butambala,Bubalala,Jesca Bayisi,42.0,784989550.0,KAL-BUB-JES-F-4197,Female Headed,reserve

In [57]:
# female_reserve_sample.to_excel('mit/female_reserve_sample.xlsx', index=False)

In [58]:
FEMALE_HH_SAMPLE = pd.concat([female_target_sample, female_reserve_sample])

In [59]:
# FEMALE_HH_SAMPLE.to_excel('mit/FEMALE_HH_SAMPLE.xlsx', index=False)

# YOUTH Households

In [60]:
len(youth_HH_samp_frame)

5523

In [61]:
youth_HH_samp_frame.head()

,district,subcounty,Parish,village,hhh_name,age,Contact,id,Household_Head_Gender
9,Kagadi,Ruteete,Ruboona,Bufundi,Bonefence Turyahebwa,23.0,778136313.0,KAG-BUF-BON-M-42845,Youth Headed
13,Kagadi,Ruteete,Ruboona,Bufundi,Edward Monday,27.0,NaN,KAG-BUF-EDW-M-108676,Youth Headed
15,Kagadi,Ruteete,Ruboona,Bufundi,Emmanuel Habasa,30.0,99.0,KAG-BUF-EMM-M-42809,Youth Headed
17,Kagadi,Ruteete,Ruboona,Bufundi,Enock Barungi,24.0,774553270.0,KAG-BUF-ENO-M-42792,Youth Headed
20,Kagadi,Ruteete,Ruboona,Bufundi,Evaristo Buregyeya,24.0,NaN,KAG-BUF-EVA-M-108678,Youth Headed

In [62]:
youth_target_sample = youth_HH_samp_frame.groupby('village', group_keys=False).apply(lambda x: x.sample(n=min(len(x), 3)))

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_41015/4193345323.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  youth_target_sample = youth_HH_samp_frame.groupby('village', group_keys=False).apply(lambda x: x.sample(n=min(len(x), 3)))

In [63]:
len(youth_target_sample)

477

In [64]:
youth_target_sample['status'] = 'target'

In [65]:
youth_target_sample.head()

,district,subcounty,Parish,village,hhh_name,age,Contact,id,Household_Head_Gender,status
9946,Kyenjojo,Kyembogo,Mparo,Aswa,Banet Niwamanya,25.0,99.0,KYE-ASW-BAN-M-33507,Youth Headed,target
9956,Kyenjojo,Kyembogo,Mparo,Aswa,Boazi Nanpamya,20.0,99.0,KYE-ASW-BOA-F-33659,Youth Headed,target
10063,Kyenjojo,Kyembogo,Mparo,Aswa,Sarah Kyomujisha,23.0,99.0,KYE-ASW-SAR-F-33614,Youth Headed,target
10171,Kyenjojo,Kihuura,Ngombe,Bisa,Joseph Baguma,21.0,99.0,KYE-BIS-JOS-M-48058,Youth Headed,target
10223,Kyenjojo,Kihuura,Ngombe,Bisa,Robert Kusemererwa,29.0,788144485.0,KYE-BIS-ROB-M-47929,Youth Headed,target

In [66]:
# youth_target_sample.to_excel('mit/youth_target_sample.xlsx', index=False)

## Reserve frame

In [67]:
youth_reserve_s_frame = youth_HH_samp_frame.drop(index = youth_target_sample.index)
youth_reserve_s_frame.shape

(5046, 9)

In [68]:
# youth_reserve_s_frame.to_excel('mit/youth_reserve_s_frame.xlsx', index=False)

In [69]:
youth_reserve_sample = youth_reserve_s_frame.groupby('village', group_keys=False).apply(lambda x: x.sample(n=min(len(x), 2)))

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_41015/1565627471.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  youth_reserve_sample = youth_reserve_s_frame.groupby('village', group_keys=False).apply(lambda x: x.sample(n=min(len(x), 2)))

In [70]:
youth_reserve_sample['status'] = 'reserve'
youth_reserve_sample.head()

,district,subcounty,Parish,village,hhh_name,age,Contact,id,Household_Head_Gender,status
9945,Kyenjojo,Kyembogo,Mparo,Aswa,Ayilence Amumpire,27.0,99.0,KYE-ASW-AYI-F-33563,Youth Headed,reserve
9933,Kyenjojo,Kyembogo,Mparo,Aswa,Adison Turyagumanawe,29.0,99.0,KYE-ASW-ADI-M-33669,Youth Headed,reserve
10143,Kyenjojo,Kihuura,Ngombe,Bisa,Godfrey Mwanguhya,29.0,706433721.0,KYE-BIS-GOD-M-108818,Youth Headed,reserve
10200,Kyenjojo,Kihuura,Ngombe,Bisa,Moses Muhanuzi,22.0,753261972.0,KYE-BIS-MOS-M-48073,Youth Headed,reserve
5122,Kaliro,Gadumire,Butambala,Bubalala,Benard Nseko,28.0,776224915.0,KAL-BUB-BEN-M-4198,Youth Headed,reserve

In [71]:
# youth_reserve_sample.to_excel('mit/youth_reserve_sample.xlsx', index=False)

# Youth Household Sample

In [72]:
youth_target_sample.shape, youth_reserve_sample.shape

((477, 10), (315, 10))

In [73]:
YOUTH_HH_SAMPLE = pd.concat([youth_target_sample, youth_reserve_sample])

In [74]:
# YOUTH_HH_SAMPLE.to_excel('mit/YOUTH_HH_SAMPLE.xlsx', index=False)

We now have sample for males, females, and youths. Let's combine.

# JOINING THE DATAFRAMES

In [75]:
MALE_HH_SAMPLE.shape, FEMALE_HH_SAMPLE.shape, YOUTH_HH_SAMPLE.shape

((2065, 10), (796, 10), (792, 10))

In [76]:
import numpy as np

In [77]:
np.array((MALE_HH_SAMPLE.shape[0], FEMALE_HH_SAMPLE.shape[0], YOUTH_HH_SAMPLE.shape[0])).sum(), len(df)

(3653, 20168)

In [78]:
FINAL = pd.concat([MALE_HH_SAMPLE, FEMALE_HH_SAMPLE, YOUTH_HH_SAMPLE])

In [79]:
FINAL.to_excel('FINAL_Randomized.xlsx', index=False)