In [1]:
import pandas as pd

In [12]:
data = pd.read_excel("Kyenjojo.xlsx")

In [13]:
df = data.copy()

In [15]:
print(df.shape)
df.tail(10)

(1547, 57)

,ObjectID,GlobalID,intro,date_visit,date_t,district,subcounty,parish_t,village,surveyor,...,hhid,CreationDate,Creator,EditDate,Editor,x,y,Village ID,Cohort,cycle
1537,222690,dd26b42b-145b-47cc-800b-45df96321342,NaN,1690000000000,2023-09-02,Kyenjojo,Nyantungo,Ntutu,Kihinda,Contractor_Kihinda,...,Kye-Kih-Seb-M-175811,10/25/2023 8:26:01 AM,raphael_rtv,10/25/2023 8:26:01 AM,raphael_rtv,30.543943,0.584723,2269,2024,1
1538,222691,58981afb-1f65-44d7-933f-de2bff8aa0e0,NaN,1690000000000,2023-09-02,Kyenjojo,Nyantungo,Ntutu,Kihinda,Contractor_Kihinda,...,Kye-Kih-Bla-F-180311,10/25/2023 8:26:01 AM,raphael_rtv,10/25/2023 8:26:01 AM,raphael_rtv,30.543934,0.584818,2269,2024,1
1539,222692,9d861f69-74c1-4e28-891b-200b411f320d,NaN,1690000000000,2023-09-02,Kyenjojo,Nyantungo,Ntutu,Kihinda,Contractor_Kihinda,...,Kye-Kih-Bag-F-181419,10/25/2023 8:26:01 AM,raphael_rtv,10/25/2023 8:26:01 AM,raphael_rtv,30.544839,0.585934,2269,2024,1
1540,222694,e11376ad-90a1-4cbb-b81f-7dee6b0dbcb4,NaN,1690000000000,2023-09-02,Kyenjojo,Nyantungo,Ntutu,Kihinda,Contractor_Kihinda,...,Kye-Kih-Chr-M-183505,10/25/2023 8:26:01 AM,raphael_rtv,10/25/2023 8:26:01 AM,raphael_rtv,30.545063,0.586687,2269,2024,1
1541,222695,7ddeca37-d745-4350-bfbc-40db6339977e,NaN,1700000000000,2023-09-19,Kyenjojo,Nyantungo,Ntutu,Mugore,Contractor_Mugore,...,Kye-Mug-Jos-F-141519,10/25/2023 8:26:01 AM,raphael_rtv,10/25/2023 8:26:01 AM,raphael_rtv,30.569540,0.579576,2271,2024,1
1542,222696,c0126b77-8beb-47c8-a763-b5f32d95b4f4,NaN,1700000000000,2023-09-19,Kyenjojo,Nyantungo,Ntutu,Mugore,Contractor_Mugore,...,Kye-Mug-Ron-M-142405,10/25/2023 8:26:01 AM,raphael_rtv,10/25/2023 8:26:01 AM,raphael_rtv,30.568744,0.579073,2271,2024,1
1543,222697,9ac6ab4a-f84e-4070-8ad8-29d910973d31,NaN,1700000000000,2023-09-19,Kyenjojo,Nyantungo,Ntutu,Mugore,Contractor_Mugore,...,Kye-Mug-Mak-M-143737,10/25/2023 8:26:01 AM,raphael_rtv,10/25/2023 8:26:01 AM,raphael_rtv,30.564466,0.580075,2271,2024,1
1544,222698,ecbc421c-d43b-4ea0-accf-89565b1015dc,NaN,1700000000000,2023-09-19,Kyenjojo,Nyantungo,Ntutu,Kihinda,Contractor_Kihinda,...,Kye-Kih-Ndo-M-152002,10/25/2023 8:26:01 AM,raphael_rtv,10/25/2023 8:26:01 AM,raphael_rtv,30.552903,0.590434,2269,2024,1
1545,230893,6a3c3752-d2c1-4a32-84a7-a9607345bf7a,NaN,1708678800000,2024-02-23,Kyenjojo,Nyantungo,Ntutu,Bunyonyi,Contractor_Bunyonyi,...,Kye-Bun-Ste-F-093735,2/23/2024 6:36:34 AM,rtvstaff,2/23/2024 6:36:34 AM,rtvstaff,30.567400,0.559900,2268,2024,1
1546,230894,15baaf8b-85db-4a3f-a104-6ee9379b4a90,NaN,1708678800000,2024-02-23,Kyenjojo,Nyantungo,Ntutu,Bunyonyi,Contractor_Bunyonyi,...,Kye-Bun-Emm-M-091247,2/23/2024 6:36:35 AM,rtvstaff,2/23/2024 6:36:35 AM,rtvstaff,30.644940,0.606495,2268,2024,1

In [16]:
df.columns.to_list()

['ObjectID',
 'GlobalID',
 'intro',
 'date_visit',
 'date_t',
 'district',
 'subcounty',
 'parish_t',
 'village',
 'surveyor',
 'surveyor_n',
 'conscent',
 'lat_x',
 'long_y',
 'altit_z',
 'long_y_f',
 'lat_x_err',
 'long_y_err',
 'gps_err_r',
 'gps_err_r_f',
 'bad_gps_err',
 'Household_Head_First_Name',
 'Household_Head_Last_Name',
 'hhh_full_name',
 'Household_Head_Age',
 'Household_Head_Contact',
 'Marital_Status',
 'Household_Head_Gender',
 'Spouse_First_Name',
 'Spouse_Last_Name',
 'Spouse_Name',
 'Spouse_Age',
 'Telephone_Contact',
 'tot_hhmembers',
 'male_adults',
 'female_adults',
 'male_youth',
 'female_youth',
 'male_children',
 'female_children',
 'adults',
 'youth',
 'children',
 'tot_hh_brk_out',
 'brk_out_err',
 'note_hh_info',
 'key_string',
 'hhid',
 'CreationDate',
 'Creator',
 'EditDate',
 'Editor',
 'x',
 'y',
 'Village ID',
 'Cohort',
 'cycle']

In [17]:
columns = [
 'district',
 'subcounty',
 'parish_t',
 # 'Cluster',
 'village',
 # 'Cohort',
 'hhh_full_name',
 'Household_Head_Age',
 'Household_Head_Contact',
 'Household_Head_Gender',
 'hhid',
 ]

In [9]:
# columns = [
#  'district',
#  'subcounty',
#  'Parish',
#  'village',
#  'hhh_name',
#  'age',
#  'Contact',
#  'gender',
#  'id',
#  ]

In [8]:
# df['district'] = df['District']

In [ ]:
# df['subcounty'] = df['Subcounty']

In [ ]:
# df['village'] = df['Village']

In [10]:
df['Contact'] = df['contact']

In [18]:
df = df[columns]

In [19]:
df.head()

,district,subcounty,parish_t,village,hhh_full_name,Household_Head_Age,Household_Head_Contact,Household_Head_Gender,hhid
0,Kyenjojo,Nyankwanzi,Kaitanyana,Hakabale,Deusident Sheria,31,771029023,Male,KYE-HAK-DEU-M-125889
1,Kyenjojo,Nyankwanzi,Kaitanyana,Hakabale,Obed Nyinengago,62,760526192,Male,KYE-HAK-OBE-M-125890
2,Kyenjojo,Nyankwanzi,Kaitanyana,Hakabale,Nazario Tumwekwase,58,99,Male,KYE-HAK-NAZ-M-125891
3,Kyenjojo,Nyankwanzi,Kaitanyana,Hakabale,Sepirion Byaruhanga,29,785630500,Male,KYE-HAK-SEP-M-125892
4,Kyenjojo,Nyankwanzi,Kaitanyana,Hakabale,Esiter Kyarisiima,40,779433461,Female,KYE-HAK-ESI-F-125893

In [20]:
data

,ObjectID,GlobalID,intro,date_visit,date_t,district,subcounty,parish_t,village,surveyor,...,hhid,CreationDate,Creator,EditDate,Editor,x,y,Village ID,Cohort,cycle
0,68573,5bfc95d9-259d-49b6-822c-e63025a69314,NaN,1670000000000,2022-12-17,Kyenjojo,Nyankwanzi,Kaitanyana,Hakabale,NaN,...,KYE-HAK-DEU-M-125889,6/22/2023 8:12:35 PM,raphael_rtv,6/22/2023 8:12:35 PM,raphael_rtv,30.704327,0.829938,1850,2023,2
1,68575,318002f8-926f-45a6-a9e1-304c8a560794,NaN,1670000000000,2022-12-17,Kyenjojo,Nyankwanzi,Kaitanyana,Hakabale,NaN,...,KYE-HAK-OBE-M-125890,6/22/2023 8:12:35 PM,raphael_rtv,6/22/2023 8:12:35 PM,raphael_rtv,30.704829,0.830210,1850,2023,2
2,68577,edb859a7-b318-4641-86ba-58eb76d1e134,NaN,1670000000000,2022-12-17,Kyenjojo,Nyankwanzi,Kaitanyana,Hakabale,NaN,...,KYE-HAK-NAZ-M-125891,6/22/2023 8:12:35 PM,raphael_rtv,6/22/2023 8:12:35 PM,raphael_rtv,30.704811,0.830217,1850,2023,2
3,68580,0f276953-132a-4c5d-b138-7fe53933f91a,NaN,1670000000000,2022-12-17,Kyenjojo,Nyankwanzi,Kaitanyana,Hakabale,NaN,...,KYE-HAK-SEP-M-125892,6/22/2023 8:12:35 PM,raphael_rtv,6/22/2023 8:12:35 PM,raphael_rtv,30.704928,0.829481,1850,2023,2
4,68583,975c0de0-a6ad-4c68-973d-5be291226869,NaN,1670000000000,2022-12-17,Kyenjojo,Nyankwanzi,Kaitanyana,Hakabale,NaN,...,KYE-HAK-ESI-F-125893,6/22/2023 8:12:35 PM,raphael_rtv,6/22/2023 8:12:35 PM,raphael_rtv,30.705177,0.829187,1850,2023,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1542,222696,c0126b77-8beb-47c8-a763-b5f32d95b4f4,NaN,1700000000000,2023-09-19,Kyenjojo,Nyantungo,Ntutu,Mugore,Contractor_Mugore,...,Kye-Mug-Ron-M-142405,10/25/2023 8:26:01 AM,raphael_rtv,10/25/2023 8:26:01 AM,raphael_rtv,30.568744,0.579073,2271,2024,1
1543,222697,9ac6ab4a-f84e-4070-8ad8-29d910973d31,NaN,1700000000000,2023-09-19,Kyenjojo,Nyantungo,Ntutu,Mugore,Contractor_Mugore,...,Kye-Mug-Mak-M-143737,10/25/2023 8:26:01 AM,raphael_rtv,10/25/2023 8:26:01 AM,raphael_rtv,30.564466,0.580075,2271,2024,1
1544,222698,ecbc421c-d43b-4ea0-accf-89565b1015dc,NaN,1700000000000,2023-09-19,Kyenjojo,Nyantungo,Ntutu,Kihinda,Contractor_Kihinda,...,Kye-Kih-Ndo-M-152002,10/25/2023 8:26:01 AM,raphael_rtv,10/25/2023 8:26:01 AM,raphael_rtv,30.552903,0.590434,2269,2024,1
1545,230893,6a3c3752-d2c1-4a32-84a7-a9607345bf7a,NaN,1708678800000,2024-02-23,Kyenjojo,Nyantungo,Ntutu,Bunyonyi,Contractor_Bunyonyi,...,Kye-Bun-Ste-F-093735,2/23/2024 6:36:34 AM,rtvstaff,2/23/2024 6:36:34 AM,rtvstaff,30.567400,0.559900,2268,2024,1
1546,230894,15baaf8b-85db-4a3f-a104-6ee9379b4a90,NaN,1708678800000,2024-02-23,Kyenjojo,Nyantungo,Ntutu,Bunyonyi,Contractor_Bunyonyi,...,Kye-Bun-Emm-M-091247,2/23/2024 6:36:35 AM,rtvstaff,2/23/2024 6:36:35 AM,rtvstaff,30.644940,0.606495,2268,2024,1

In [21]:
df = df.drop_duplicates('hhid', keep='first')

In [22]:
df['Household_Head_Gender'].value_counts(dropna=False)

Household_Head_Gender
Male      1121
Female     426
Name: count, dtype: int64

In [23]:
data['Household_Head_Gender'].value_counts()

Household_Head_Gender
Male      1121
Female     426
Name: count, dtype: int64

In [32]:
# gender_mapping = {
#     'male': 'Male',
#     'm':'Male',
#     'female': 'Female',
#     'f': 'Female',
#     'feamale': 'Female',
#     'female`': 'Female',
#     'femaLe':'Female',
#     'femae': 'Female',
#     'male ': 'Male'
# }

In [17]:
# df['gender'] = df['gender'].str.lower().map(gender_mapping)

In [25]:
df['HHH_Gender'] = df['Household_Head_Gender']

In [26]:
df['HHH_Gender'].value_counts(dropna=False)

HHH_Gender
Male      1121
Female     426
Name: count, dtype: int64

In [27]:
df['HHH_Gender'] = df.apply(
    lambda row: 'Youth Headed' 
    if row['Household_Head_Age'] <= 30 
    else str(row['HHH_Gender']) + ' Headed', axis=1
)

In [28]:
df.tail(15)

,district,subcounty,parish_t,village,hhh_full_name,Household_Head_Age,Household_Head_Contact,Household_Head_Gender,hhid,HHH_Gender
1532,Kyenjojo,Nyantungo,Ntutu,Kihinda,Beatrace Banura,61,771870173,Female,Kye-Kih-Bea-F-164412,Female Headed
1533,Kyenjojo,Nyantungo,Ntutu,Kihinda,Selejio Byamukama,38,78194472,Male,Kye-Kih-Sel-M-171104,Male Headed
1534,Kyenjojo,Nyantungo,Ntutu,Kihinda,Vincent Tuhaise,45,781413202,Male,Kye-Kih-Vin-M-172608,Male Headed
1535,Kyenjojo,Nyantungo,Ntutu,Kihinda,Jane Kanywani,63,760867126,Female,Kye-Kih-Jan-F-173154,Female Headed
1536,Kyenjojo,Nyantungo,Ntutu,Kihinda,Bazirio Kiiza,80,776355042,Male,Kye-Kih-Baz-M-175053,Male Headed
1537,Kyenjojo,Nyantungo,Ntutu,Kihinda,Sebastiano Kusemererwa,31,776355042,Male,Kye-Kih-Seb-M-175811,Male Headed
1538,Kyenjojo,Nyantungo,Ntutu,Kihinda,Bladinah Kahwa,90,776355042,Female,Kye-Kih-Bla-F-180311,Female Headed
1539,Kyenjojo,Nyantungo,Ntutu,Kihinda,Bagonza Kegonzi,39,771393477,Female,Kye-Kih-Bag-F-181419,Female Headed
1540,Kyenjojo,Nyantungo,Ntutu,Kihinda,Christopher Aliganyira,51,784115211,Male,Kye-Kih-Chr-M-183505,Male Headed
1541,Kyenjojo,Nyantungo,Ntutu,Mugore,Josephine Tibagwa,85,779813094,Female,Kye-Mug-Jos-F-141519,Female Headed
1542,Kyenjojo,Nyantungo,Ntutu,Mugore,Ronald Akuzibwe,33,759896775,Male,Kye-Mug-Ron-M-142405,Male Headed
1543,Kyenjojo,Nyantungo,Ntutu,Mugore,Makuru Zeresire,46,774958023,Male,Kye-Mug-Mak-M-143737,Male Headed
1544,Kyenjojo,Nyantungo,Ntutu,Kihinda,Ndora Kisembo,30,764479643,Male,Kye-Kih-Ndo-M-152002,Youth Headed
1545,Kyenjojo,Nyantungo,Ntutu,Bunyonyi,Stella Kisembo,48,782331541,Female,Kye-Bun-Ste-F-093735,Female Headed
1546,Kyenjojo,Nyantungo,Ntutu,Bunyonyi,Emmanuwl Bagonza,25,760176096,Male,Kye-Bun-Emm-M-091247,Youth Headed

In [29]:
df['HHH_Gender'].value_counts()

HHH_Gender
Male Headed      773
Youth Headed     411
Female Headed    363
Name: count, dtype: int64

The code below does exactly what we have done above, but you realize it's more complex than the latter. You might not prefer this but its good to understand how functions work because sometimes they are the deal.

In [30]:
# def add_age(df, gender, age):
#     for index, row in df.iterrows():
#         if row[age] <= 30:
#             df.at[index, gender] = 'Youth Headed'
#         else:
#             df.at[index, gender] = str(row[variable]) + ' Headed'

We can apply the function like this by passing in the parameters, I did both ways, but the first one is even faster than this.

In [31]:
# add_age(df, 'Household_Head_Gender','Household_Head_Age')

In [32]:
df.head()

,district,subcounty,parish_t,village,hhh_full_name,Household_Head_Age,Household_Head_Contact,Household_Head_Gender,hhid,HHH_Gender
0,Kyenjojo,Nyankwanzi,Kaitanyana,Hakabale,Deusident Sheria,31,771029023,Male,KYE-HAK-DEU-M-125889,Male Headed
1,Kyenjojo,Nyankwanzi,Kaitanyana,Hakabale,Obed Nyinengago,62,760526192,Male,KYE-HAK-OBE-M-125890,Male Headed
2,Kyenjojo,Nyankwanzi,Kaitanyana,Hakabale,Nazario Tumwekwase,58,99,Male,KYE-HAK-NAZ-M-125891,Male Headed
3,Kyenjojo,Nyankwanzi,Kaitanyana,Hakabale,Sepirion Byaruhanga,29,785630500,Male,KYE-HAK-SEP-M-125892,Youth Headed
4,Kyenjojo,Nyankwanzi,Kaitanyana,Hakabale,Esiter Kyarisiima,40,779433461,Female,KYE-HAK-ESI-F-125893,Female Headed

In [33]:
# df['Household_Head_Gender'] = df['gender']

In [34]:
# df.drop(columns=['gender','HHH_Gender'], inplace=True)

In [35]:
df['HHH_Gender'].value_counts()

HHH_Gender
Male Headed      773
Youth Headed     411
Female Headed    363
Name: count, dtype: int64

In [36]:
male_HH_samp_frame = df[df['HHH_Gender']=='Male Headed']
female_HH_samp_frame = df[df['HHH_Gender']=='Female Headed']
youth_HH_samp_frame = df[df['HHH_Gender']=='Youth Headed']

In [37]:
male_HH_samp_frame.shape, female_HH_samp_frame.shape, youth_HH_samp_frame.shape

((773, 10), (363, 10), (411, 10))

## Male Headed

In [38]:
len(male_HH_samp_frame)

773

In [39]:
sample_size = 9
sample_size

9

In [40]:
def custom_sample(x):
    return x.sample(n=min(len(x), 9))

Apply just works as our old lambda function, whereby you can

In [41]:
male_target_sample = male_HH_samp_frame.groupby('village', group_keys=False).apply(custom_sample)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_49344/2781854579.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  male_target_sample = male_HH_samp_frame.groupby('village', group_keys=False).apply(custom_sample)

In [42]:
len(male_target_sample)

153

In [43]:
male_HH_samp_frame

,district,subcounty,parish_t,village,hhh_full_name,Household_Head_Age,Household_Head_Contact,Household_Head_Gender,hhid,HHH_Gender
0,Kyenjojo,Nyankwanzi,Kaitanyana,Hakabale,Deusident Sheria,31,771029023,Male,KYE-HAK-DEU-M-125889,Male Headed
1,Kyenjojo,Nyankwanzi,Kaitanyana,Hakabale,Obed Nyinengago,62,760526192,Male,KYE-HAK-OBE-M-125890,Male Headed
2,Kyenjojo,Nyankwanzi,Kaitanyana,Hakabale,Nazario Tumwekwase,58,99,Male,KYE-HAK-NAZ-M-125891,Male Headed
5,Kyenjojo,Nyankwanzi,Kaitanyana,Hakabale,Pulikariko Kabagabe,52,999,Male,KYE-HAK-PUL-M-125894,Male Headed
6,Kyenjojo,Nyankwanzi,Kaitanyana,Nyabirungi_Kaitanyana,Bahati Bazomanza,43,761858585,Male,KYE-NYA-BAH-M-125586,Male Headed
...,...,...,...,...,...,...,...,...,...,...
1536,Kyenjojo,Nyantungo,Ntutu,Kihinda,Bazirio Kiiza,80,776355042,Male,Kye-Kih-Baz-M-175053,Male Headed
1537,Kyenjojo,Nyantungo,Ntutu,Kihinda,Sebastiano Kusemererwa,31,776355042,Male,Kye-Kih-Seb-M-175811,Male Headed
1540,Kyenjojo,Nyantungo,Ntutu,Kihinda,Christopher Aliganyira,51,784115211,Male,Kye-Kih-Chr-M-183505,Male Headed
1542,Kyenjojo,Nyantungo,Ntutu,Mugore,Ronald Akuzibwe,33,759896775,Male,Kye-Mug-Ron-M-142405,Male Headed
1543,Kyenjojo,Nyantungo,Ntutu,Mugore,Makuru Zeresire,46,774958023,Male,Kye-Mug-Mak-M-143737,Male Headed

We can generate a new column and assign a value target

In [44]:
male_target_sample['status'] = 'target'

In [45]:
male_target_sample

,district,subcounty,parish_t,village,hhh_full_name,Household_Head_Age,Household_Head_Contact,Household_Head_Gender,hhid,HHH_Gender,status
870,Kyenjojo,Nyantungo,Mabaale,Buhisi,Jonhson Akugizibwe,40,784645625,Male,KYE-BUH-JON-M-103445,Male Headed,target
986,Kyenjojo,Nyantungo,Mabaale,Buhisi,Samuel Alituha,43,771843824,Male,KYE-BUH-SAM-M-132747,Male Headed,target
888,Kyenjojo,Nyantungo,Mabaale,Buhisi,Aloziyo Alimanya,45,787146024,Male,KYE-BUH-ALO-M-124100,Male Headed,target
972,Kyenjojo,Nyantungo,Mabaale,Buhisi,Murungi Mwesige,31,779147694,Male,KYE-BUH-MUR-M-114444,Male Headed,target
1012,Kyenjojo,Nyantungo,Mabaale,Buhisi,Stephen Bunage,60,772683306,Male,KYE-BUH-STE-M-103139,Male Headed,target
...,...,...,...,...,...,...,...,...,...,...,...
741,Kyenjojo,Nyantungo,Mabaale,Nyarugongo,Richard Kiiza,38,761530125,Male,KYE-NYA-RIC-M-145702,Male Headed,target
712,Kyenjojo,Nyantungo,Mabaale,Nyarugongo,Christopher Akugizibwe,34,787826592,Male,KYE-NYA-CHR-M-094902,Male Headed,target
713,Kyenjojo,Nyantungo,Mabaale,Nyarugongo,John Byaruhanga,62,774340771,Male,KYE-NYA-JOH-M-095637,Male Headed,target
1062,Kyenjojo,Nyantungo,Mabaale,Nyarugongo,Francis Aliganyira,48,991,Male,KYE-NYA-FRA-M-171103,Male Headed,target
725,Kyenjojo,Nyantungo,Mabaale,Nyarugongo,Kaija Busobozi,33,775414974,Male,KYE-NYA-KAI-M-113930,Male Headed,target

## Reserve frame

we can drop the targets since we've already assigned them using the index

In [46]:
male_reserve_s_frame = male_HH_samp_frame.drop(index = male_target_sample.index)

In [47]:
# male_reserve_s_frame.to_excel('mit/male_reserve_s_frame.xlsx', index=False)

In [48]:
male_reserve_sample = male_reserve_s_frame.groupby('village', group_keys=False).apply(lambda x: x.sample(n=min(len(x), 4)))

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_49344/2138712636.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  male_reserve_sample = male_reserve_s_frame.groupby('village', group_keys=False).apply(lambda x: x.sample(n=min(len(x), 4)))

In [49]:
male_reserve_sample['status'] = 'reserve'
male_reserve_sample.head()

,district,subcounty,parish_t,village,hhh_full_name,Household_Head_Age,Household_Head_Contact,Household_Head_Gender,hhid,HHH_Gender,status
980,Kyenjojo,Nyantungo,Mabaale,Buhisi,Charlce Ruhweza,38,775134755,Male,KYE-BUH-CHA-M-123543,Male Headed,reserve
995,Kyenjojo,Nyantungo,Mabaale,Buhisi,James Tumuhairwe,32,782572182,Male,KYE-BUH-JAM-M-145424,Male Headed,reserve
926,Kyenjojo,Nyantungo,Mabaale,Buhisi,Ivan Amanyire,45,774113982,Male,KYE-BUH-IVA-M-162331,Male Headed,reserve
985,Kyenjojo,Nyantungo,Mabaale,Buhisi,Stephen Kamulidwa,61,770629162,Male,KYE-BUH-STE-M-131918,Male Headed,reserve
1316,Kyenjojo,Nyantungo,Ntutu,Bunyonyi,Emmanuel Byamukama,58,783858557,Male,Kye-Bun-Emm-M-173206,Male Headed,reserve

In [50]:
# male_reserve_sample.to_excel('mit/male_reserve_sample.xlsx', index=False)

Let's combine the targets and reserves to come up with a complete sample for males

# Male Household Sample [Combining the Target and Reserve]

In [51]:
male_target_sample.shape, male_reserve_sample.shape

((153, 11), (68, 11))

In [52]:
MALE_HH_SAMPLE = pd.concat([male_target_sample, male_reserve_sample])

# FEMALE  Headed

In [53]:
len(female_HH_samp_frame)

363

In [54]:
female_HH_samp_frame.head()

,district,subcounty,parish_t,village,hhh_full_name,Household_Head_Age,Household_Head_Contact,Household_Head_Gender,hhid,HHH_Gender
4,Kyenjojo,Nyankwanzi,Kaitanyana,Hakabale,Esiter Kyarisiima,40,779433461,Female,KYE-HAK-ESI-F-125893,Female Headed
10,Kyenjojo,Nyankwanzi,Kaitanyana,Nyabirungi_Kaitanyana,Fatumah Kemigisa,37,761848041,Female,KYE-NYA-FAT-F-125623,Female Headed
11,Kyenjojo,Nyankwanzi,Kaitanyana,Nyabirungi_Kaitanyana,Nzera Mirimo,60,99,Female,KYE-NYA-NZE-F-125624,Female Headed
12,Kyenjojo,Nyankwanzi,Kaitanyana,Nyabirungi_Kaitanyana,Sarafia Musabyimana,53,773700414,Female,KYE-NYA-SAR-F-125625,Female Headed
16,Kyenjojo,Nyankwanzi,Kaitanyana,Nyabirungi_Kaitanyana,Lyndia Tugumisirize,62,774962915,Female,KYE-NYA-LYN-F-125629,Female Headed

In [55]:
female_target_sample = female_HH_samp_frame.groupby('village', group_keys=False).apply(lambda x: x.sample(n=min(len(x), 3)))

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_49344/449293486.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  female_target_sample = female_HH_samp_frame.groupby('village', group_keys=False).apply(lambda x: x.sample(n=min(len(x), 3)))

In [56]:
len(female_target_sample)

51

In [57]:
female_target_sample['status'] = 'target'

In [58]:
female_target_sample.head()

,district,subcounty,parish_t,village,hhh_full_name,Household_Head_Age,Household_Head_Contact,Household_Head_Gender,hhid,HHH_Gender,status
934,Kyenjojo,Nyantungo,Mabaale,Buhisi,Elizabeth Kabasambu,45,779813351,Female,KYE-BUH-ELI-F-171307,Female Headed,target
1003,Kyenjojo,Nyantungo,Mabaale,Buhisi,Erinorah Kabahuma,65,782322714,Female,KYE-BUH-ERI-F-171430,Female Headed,target
961,Kyenjojo,Nyantungo,Mabaale,Buhisi,Elizabeth Kabagenyi,40,761675389,Female,KYE-BUH-ELI-F-191252,Female Headed,target
397,Kyenjojo,Nyantungo,Ntutu,Bunyonyi,Beatrace Kabagenyi,78,779955864,Female,Kye-Bun-Bea-F-115130,Female Headed,target
1336,Kyenjojo,Nyantungo,Ntutu,Bunyonyi,Enide Basemera,50,774925808,Female,Kye-Bun-Eni-F-190041,Female Headed,target

## Reserve frame

In [59]:
female_reserve_s_frame = female_HH_samp_frame.drop(index = female_target_sample.index)
female_reserve_s_frame.shape

(312, 10)

In [60]:
# female_reserve_s_frame.to_excel('mit/female_reserve_s_frame.xlsx', index=False)

In [61]:
female_reserve_sample = female_reserve_s_frame.groupby('village', group_keys=False).apply(lambda x: x.sample(n=min(len(x), 2)))

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_49344/2689120184.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  female_reserve_sample = female_reserve_s_frame.groupby('village', group_keys=False).apply(lambda x: x.sample(n=min(len(x), 2)))

In [62]:
female_reserve_sample['status'] = 'reserve'
female_reserve_sample.head()

,district,subcounty,parish_t,village,hhh_full_name,Household_Head_Age,Household_Head_Contact,Household_Head_Gender,hhid,HHH_Gender,status
864,Kyenjojo,Nyantungo,Mabaale,Buhisi,Luzy Kabatabazi,80,99,Female,KYE-BUH-LUZ-F-100447,Female Headed,reserve
890,Kyenjojo,Nyantungo,Mabaale,Buhisi,Evaster Kisembo,65,99,Female,KYE-BUH-EVA-F-124942,Female Headed,reserve
1303,Kyenjojo,Nyantungo,Ntutu,Bunyonyi,Stella Kakuliremu,70,787394849,Female,Kye-Bun-Ste-F-085311,Female Headed,reserve
408,Kyenjojo,Nyantungo,Ntutu,Bunyonyi,Annet Kamakune,33,765153613,Female,Kye-Bun-Ann-F-140812,Female Headed,reserve
4,Kyenjojo,Nyankwanzi,Kaitanyana,Hakabale,Esiter Kyarisiima,40,779433461,Female,KYE-HAK-ESI-F-125893,Female Headed,reserve

In [63]:
# female_reserve_sample.to_excel('mit/female_reserve_sample.xlsx', index=False)

In [64]:
FEMALE_HH_SAMPLE = pd.concat([female_target_sample, female_reserve_sample])

In [65]:
# FEMALE_HH_SAMPLE.to_excel('mit/FEMALE_HH_SAMPLE.xlsx', index=False)

# YOUTH Households

In [66]:
len(youth_HH_samp_frame)

411

In [67]:
youth_HH_samp_frame.head()

,district,subcounty,parish_t,village,hhh_full_name,Household_Head_Age,Household_Head_Contact,Household_Head_Gender,hhid,HHH_Gender
3,Kyenjojo,Nyankwanzi,Kaitanyana,Hakabale,Sepirion Byaruhanga,29,785630500,Male,KYE-HAK-SEP-M-125892,Youth Headed
9,Kyenjojo,Nyankwanzi,Kaitanyana,Nyabirungi_Kaitanyana,Tofiri Ategeka,28,771036170,Male,KYE-NYA-TOF-M-125589,Youth Headed
13,Kyenjojo,Nyankwanzi,Kaitanyana,Nyabirungi_Kaitanyana,Danie Sunday,29,772314123,Male,KYE-NYA-DAN-M-125626,Youth Headed
14,Kyenjojo,Nyankwanzi,Kaitanyana,Nyabirungi_Kaitanyana,Robert Byaruhanga,27,761877212,Male,KYE-NYA-ROB-M-125627,Youth Headed
20,Kyenjojo,Nyankwanzi,Kaitanyana,Nyabirungi_Kaitanyana,Mucunguzi Kabahoze,22,781902589,Male,KYE-NYA-MUC-M-125633,Youth Headed

In [68]:
youth_target_sample = youth_HH_samp_frame.groupby('village', group_keys=False).apply(lambda x: x.sample(n=min(len(x), 3)))

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_49344/4193345323.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  youth_target_sample = youth_HH_samp_frame.groupby('village', group_keys=False).apply(lambda x: x.sample(n=min(len(x), 3)))

In [69]:
len(youth_target_sample)

51

In [70]:
youth_target_sample['status'] = 'target'

In [71]:
youth_target_sample.head()

,district,subcounty,parish_t,village,hhh_full_name,Household_Head_Age,Household_Head_Contact,Household_Head_Gender,hhid,HHH_Gender,status
942,Kyenjojo,Nyantungo,Mabaale,Buhisi,Hangiton Ruhinda,23,99,Male,KYE-BUH-HAN-M-180443,Youth Headed,target
892,Kyenjojo,Nyantungo,Mabaale,Buhisi,Patrick Rwakijuma,30,787840089,Male,KYE-BUH-PAT-M-125649,Youth Headed,target
1017,Kyenjojo,Nyantungo,Mabaale,Buhisi,Isaac Akadwanaho,26,783035400,Male,KYE-BUH-ISA-M-120517,Youth Headed,target
1340,Kyenjojo,Nyantungo,Ntutu,Bunyonyi,Ronald Byamukama,22,776263936,Male,Kye-Bun-Ron-M-131713,Youth Headed,target
1320,Kyenjojo,Nyantungo,Ntutu,Bunyonyi,Julius Amanyire,28,773127911,Male,Kye-Bun-Jul-M-175823,Youth Headed,target

In [72]:
# youth_target_sample.to_excel('mit/youth_target_sample.xlsx', index=False)

## Reserve frame

In [73]:
youth_reserve_s_frame = youth_HH_samp_frame.drop(index = youth_target_sample.index)
youth_reserve_s_frame.shape

(360, 10)

In [74]:
# youth_reserve_s_frame.to_excel('mit/youth_reserve_s_frame.xlsx', index=False)

In [75]:
youth_reserve_sample = youth_reserve_s_frame.groupby('village', group_keys=False).apply(lambda x: x.sample(n=min(len(x), 2)))

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_49344/1565627471.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  youth_reserve_sample = youth_reserve_s_frame.groupby('village', group_keys=False).apply(lambda x: x.sample(n=min(len(x), 2)))

In [76]:
youth_reserve_sample['status'] = 'reserve'
youth_reserve_sample.head()

,district,subcounty,parish_t,village,hhh_full_name,Household_Head_Age,Household_Head_Contact,Household_Head_Gender,hhid,HHH_Gender,status
981,Kyenjojo,Nyantungo,Mabaale,Buhisi,Twikirize Mwesige,26,777640137,Male,KYE-BUH-TWI-M-124548,Youth Headed,reserve
932,Kyenjojo,Nyantungo,Mabaale,Buhisi,Timoth Asaba,25,99,Male,KYE-BUH-TIM-M-170813,Youth Headed,reserve
403,Kyenjojo,Nyantungo,Ntutu,Bunyonyi,Robert Agondeze,25,777350675,Male,Kye-Bun-Rob-M-124533,Youth Headed,reserve
1334,Kyenjojo,Nyantungo,Ntutu,Bunyonyi,Fred Tumusiime,21,753596621,Male,Kye-Bun-Fre-M-123835,Youth Headed,reserve
142,Kyenjojo,Nyankwanzi,Kaitanyana,Hakabale,Dickson Naturinda,20,777,Male,KYE-HAK-DIC-M-125927,Youth Headed,reserve

In [77]:
# youth_reserve_sample.to_excel('mit/youth_reserve_sample.xlsx', index=False)

# Youth Household Sample

In [78]:
youth_target_sample.shape, youth_reserve_sample.shape

((51, 11), (34, 11))

In [79]:
YOUTH_HH_SAMPLE = pd.concat([youth_target_sample, youth_reserve_sample])

In [80]:
# YOUTH_HH_SAMPLE.to_excel('mit/YOUTH_HH_SAMPLE.xlsx', index=False)

We now have sample for males, females, and youths. Let's combine.

# JOINING THE DATAFRAMES

In [81]:
MALE_HH_SAMPLE.shape, FEMALE_HH_SAMPLE.shape, YOUTH_HH_SAMPLE.shape

((221, 11), (85, 11), (85, 11))

In [82]:
import numpy as np

In [83]:
np.array((MALE_HH_SAMPLE.shape[0], FEMALE_HH_SAMPLE.shape[0], YOUTH_HH_SAMPLE.shape[0])).sum(), len(df)

(391, 1547)

In [84]:
FINAL = pd.concat([MALE_HH_SAMPLE, FEMALE_HH_SAMPLE, YOUTH_HH_SAMPLE])

In [85]:
FINAL.to_excel('FINAL_Randomized.xlsx', index=False)