In [21]:
import pandas as pd

In [92]:
data = pd.read_excel("Household datasets for SEs (1).xlsx")

In [93]:
df = data.copy()

In [94]:
print(df.shape)
df.tail(10)

(92684, 14)

,district,subcounty,Parish,Cluster,village,Cohort,Cycle,Type,id,hhh_name,Contact,test,gender,age
92674,Rukungiri,Bugangari,Kazindiro,Kazindiro,Nyakahanga_Kazindiro,2024,A,NaN,RUK-NYA-TUM-F-70049,Tumushabe Vastina,NaN,F,F,43.0
92675,Rukungiri,Bugangari,Kazindiro,Kazindiro,Nyakahanga_Kazindiro,2024,A,NaN,RUK-NYA-KYA-F-70050,Kyarikunda Evas,NaN,F,F,46.0
92676,Rukungiri,Bugangari,Kazindiro,Kazindiro,Nyakahanga_Kazindiro,2024,A,NaN,RUK-NYA-TUG-F-70051,Tugume Gladys,NaN,F,F,50.0
92677,Rukungiri,Bugangari,Kazindiro,Kazindiro,Nyakahanga_Kazindiro,2024,A,NaN,RUK-NYA-BAR-F-70052,Barunga Vanis,NaN,F,F,51.0
92678,Rukungiri,Bugangari,Kazindiro,Kazindiro,Rwanyanja,2024,A,NaN,RUK-RWA-BIL-M-70053,Bilama Charles,NaN,M,M,50.0
92679,Rukungiri,Bugangari,Kazindiro,Kazindiro,Rwanyanja,2024,A,NaN,RUK-RWA-BIN-F-70054,Binaleta Kinabwine,NaN,F,F,65.0
92680,Rukungiri,Bugangari,Kazindiro,Kazindiro,Rwanyanja,2024,A,NaN,RUK-RWA-TUM-F-70055,Tumusiime Jovaile,NaN,F,F,67.0
92681,Rukungiri,Bugangari,Kazindiro,Kazindiro,Rwanyanja,2024,A,NaN,RUK-RWA-TUM-M-70056,Tumuhimbise Talasisio,NaN,M,M,49.0
92682,Kyenjojo,Nyantungo,Mabaale,Mabaale,Nyarugongo,2024,A,NaN,KYE-NYA-AKU-M-130701,Akugizibwe Arikanjeru,772752000,M,Male,NaN
92683,Kyenjojo,Nyantungo,Mabaale,Mabaale,Nyarugongo,2024,A,NaN,KYE-NYA-BRI-M-135651,Brian Twesige,777078648,M,Male,NaN

In [95]:
df.columns.to_list()

['district',
 'subcounty',
 'Parish',
 'Cluster',
 'village',
 'Cohort',
 'Cycle',
 'Type',
 'id',
 'hhh_name',
 'Contact',
 'test',
 'gender',
 'age']

In [96]:
columns = [
 'district',
 'subcounty',
 'Parish',
 'village',
 'hhh_name',
 'age',
 'Contact',
 'gender',
 'id',
 ]

In [97]:
df = df[columns]

In [98]:
df.head()

,district,subcounty,Parish,village,hhh_name,age,Contact,gender,id
0,Kagadi,Kicucuuru,Kitooro,Kasozi_Kitooro,Akakwasa More,60.0,785534054,Female,KAG-KAS-AKA-F-075731
1,Kagadi,Kicucuuru,Kitooro,Kasozi_Kitooro,Akoragye Peter,30.0,771069272,Male,KAG-KAS-AKO-M-095616
2,Kagadi,Kicucuuru,Kitooro,Kasozi_Kitooro,Aliganyira Nikorasi,26.0,784875889,Male,KAG-KAS-ALI-M-094647
3,Kagadi,Kicucuuru,Kitooro,Kasozi_Kitooro,Anet Kokundeka,36.0,755236985,Female,KAG-KAS-ANE-F-093637
4,Kagadi,Kicucuuru,Kitooro,Kasozi_Kitooro,Ayinemani Nicorous,21.0,789236760,Male,KAG-KAS-AYI-M-114920

In [83]:
df = df.drop_duplicates('id', keep='first')

In [99]:
df['gender'].value_counts(dropna=False)

gender
Male       64675
Female     21627
M           4853
F           1455
male          53
female        14
Feamale        2
Female`        2
FemaLe         1
Femae          1
Male           1
Name: count, dtype: int64

In [100]:
gender_mapping = {
    'male': 'Male',
    'm':'Male',
    'female': 'Female',
    'f': 'Female',
    'feamale': 'Female',
    'female`': 'Female',
    'femaLe':'Female',
    'femae': 'Female',
    'male ': 'Male'
}

In [101]:
df['gender'] = df['gender'].str.lower().map(gender_mapping)

In [102]:
df['HHH_Gender'] = df['gender']

In [103]:
df['HHH_Gender'].value_counts(dropna=False)

HHH_Gender
Male      69582
Female    23102
Name: count, dtype: int64

In [104]:
df['HHheadGender'] = df.apply(
    lambda row: 'Youth Headed' 
    if row['age'] <= 30 
    else str(row['gender']) + ' Headed', axis=1
)

In [105]:
df.tail()

,district,subcounty,Parish,village,hhh_name,age,Contact,gender,id,HHH_Gender,HHheadGender
92679,Rukungiri,Bugangari,Kazindiro,Rwanyanja,Binaleta Kinabwine,65.0,NaN,Female,RUK-RWA-BIN-F-70054,Female,Female Headed
92680,Rukungiri,Bugangari,Kazindiro,Rwanyanja,Tumusiime Jovaile,67.0,NaN,Female,RUK-RWA-TUM-F-70055,Female,Female Headed
92681,Rukungiri,Bugangari,Kazindiro,Rwanyanja,Tumuhimbise Talasisio,49.0,NaN,Male,RUK-RWA-TUM-M-70056,Male,Male Headed
92682,Kyenjojo,Nyantungo,Mabaale,Nyarugongo,Akugizibwe Arikanjeru,NaN,772752000,Male,KYE-NYA-AKU-M-130701,Male,Male Headed
92683,Kyenjojo,Nyantungo,Mabaale,Nyarugongo,Brian Twesige,NaN,777078648,Male,KYE-NYA-BRI-M-135651,Male,Male Headed

In [106]:
df['gender'].value_counts()

gender
Male      69582
Female    23102
Name: count, dtype: int64

The code below does exactly what we have done above, but you realize it's more complex than the latter. You might not prefer this but its good to understand how functions work because sometimes they are the deal.

In [107]:
# def add_age(df, gender, age):
#     for index, row in df.iterrows():
#         if row[age] <= 30:
#             df.at[index, gender] = 'Youth Headed'
#         else:
#             df.at[index, gender] = str(row[variable]) + ' Headed'

We can apply the function like this by passing in the parameters, I did both ways, but the first one is even faster than this.

In [108]:
# add_age(df, 'Household_Head_Gender','Household_Head_Age')

In [109]:
df.head()

,district,subcounty,Parish,village,hhh_name,age,Contact,gender,id,HHH_Gender,HHheadGender
0,Kagadi,Kicucuuru,Kitooro,Kasozi_Kitooro,Akakwasa More,60.0,785534054,Female,KAG-KAS-AKA-F-075731,Female,Female Headed
1,Kagadi,Kicucuuru,Kitooro,Kasozi_Kitooro,Akoragye Peter,30.0,771069272,Male,KAG-KAS-AKO-M-095616,Male,Youth Headed
2,Kagadi,Kicucuuru,Kitooro,Kasozi_Kitooro,Aliganyira Nikorasi,26.0,784875889,Male,KAG-KAS-ALI-M-094647,Male,Youth Headed
3,Kagadi,Kicucuuru,Kitooro,Kasozi_Kitooro,Anet Kokundeka,36.0,755236985,Female,KAG-KAS-ANE-F-093637,Female,Female Headed
4,Kagadi,Kicucuuru,Kitooro,Kasozi_Kitooro,Ayinemani Nicorous,21.0,789236760,Male,KAG-KAS-AYI-M-114920,Male,Youth Headed

In [110]:
df['Household_Head_Gender'] = df['HHheadGender']

In [112]:
df.drop(columns=['gender','HHheadGender'], inplace=True)

In [113]:
df['Household_Head_Gender'].value_counts()

Household_Head_Gender
Male Headed      49210
Youth Headed     23756
Female Headed    19718
Name: count, dtype: int64

In [114]:
male_HH_samp_frame = df[df['Household_Head_Gender']=='Male Headed']
female_HH_samp_frame = df[df['Household_Head_Gender']=='Female Headed']
youth_HH_samp_frame = df[df['Household_Head_Gender']=='Youth Headed']

In [115]:
male_HH_samp_frame.shape, female_HH_samp_frame.shape, youth_HH_samp_frame.shape

((49210, 10), (19718, 10), (23756, 10))

## Male Headed

In [116]:
len(male_HH_samp_frame)

49210

In [117]:
sample_size = 9
sample_size

9

In [118]:
def custom_sample(x):
    return x.sample(n=min(len(x), 9))

Apply just works as our old lambda function, whereby you can

In [119]:
male_target_sample = male_HH_samp_frame.groupby('village', group_keys=False).apply(custom_sample)

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_54360/2781854579.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  male_target_sample = male_HH_samp_frame.groupby('village', group_keys=False).apply(custom_sample)

In [120]:
len(male_target_sample)

7068

In [121]:
male_HH_samp_frame

,district,subcounty,Parish,village,hhh_name,age,Contact,id,HHH_Gender,Household_Head_Gender
7,Kagadi,Kicucuuru,Kitooro,Kasozi_Kitooro,Banyezaki Edward,40.0,781428092,KAG-KAS-BAN-M-124157,Male,Male Headed
9,Kagadi,Kicucuuru,Kitooro,Kasozi_Kitooro,Buregyeya Sitivin,47.0,782604221,KAG-KAS-BUR-M-103304,Male,Male Headed
10,Kagadi,Kicucuuru,Kitooro,Kasozi_Kitooro,Byamukama Patrica,40.0,762877363,KAG-KAS-BYA-M-110619,Male,Male Headed
11,Kagadi,Kicucuuru,Kitooro,Kasozi_Kitooro,Byaruhanga Abeli,40.0,783809996,KAG-KAS-BYA-M-111938,Male,Male Headed
12,Kagadi,Kicucuuru,Kitooro,Kasozi_Kitooro,Byamukama Keneth,47.0,771393683,KAG-KAS-BYA-M-115556,Male,Male Headed
...,...,...,...,...,...,...,...,...,...,...
92662,Rukungiri,Bugangari,Kazindiro,Kabyooya,Ensinikweli Benon,48.0,NaN,RUK-KAB-ENS-M-70037,Male,Male Headed
92678,Rukungiri,Bugangari,Kazindiro,Rwanyanja,Bilama Charles,50.0,NaN,RUK-RWA-BIL-M-70053,Male,Male Headed
92681,Rukungiri,Bugangari,Kazindiro,Rwanyanja,Tumuhimbise Talasisio,49.0,NaN,RUK-RWA-TUM-M-70056,Male,Male Headed
92682,Kyenjojo,Nyantungo,Mabaale,Nyarugongo,Akugizibwe Arikanjeru,NaN,772752000,KYE-NYA-AKU-M-130701,Male,Male Headed
92683,Kyenjojo,Nyantungo,Mabaale,Nyarugongo,Brian Twesige,NaN,777078648,KYE-NYA-BRI-M-135651,Male,Male Headed

We can generate a new column and assign a value target

In [129]:
male_target_sample['status'] = 'target'

In [130]:
male_target_sample

,district,subcounty,Parish,village,hhh_name,age,Contact,id,HHH_Gender,Household_Head_Gender,status
13196,Kiryandongo,Mboira,Apodorwa,Abira,Emanuel Angolere,37.0,777040094,KIR-ABI-EMA-M-150149,Male,Male Headed,target
13309,Kiryandongo,Mboira,Apodorwa,Abira,Sam Tezicha,32.0,789620497,KIR-ABI-SAM-M-153955,Male,Male Headed,target
13239,Kiryandongo,Mboira,Apodorwa,Abira,Jimmy Opar,60.0,99,KIR-ABI-JIM-M-121714,Male,Male Headed,target
13293,Kiryandongo,Mboira,Apodorwa,Abira,Richard Okuni,45.0,779898157,KIR-ABI-RIC-M-095042,Male,Male Headed,target
13221,Kiryandongo,Mboira,Apodorwa,Abira,Ismail Anichan,32.0,99,KIR-ABI-ISM-M-164202,Male,Male Headed,target
...,...,...,...,...,...,...,...,...,...,...,...
68223,Kibaale,Kyebando,Kirasa,Watuna,Emmanuel Mayanja,38.0,NaN,KIB-WAT-EMM-M-073141,Male,Male Headed,target
68246,Kibaale,Kyebando,Kirasa,Watuna,Jurias Rukundo,42.0,NaN,KIB-WAT-JUR-M-095434,Male,Male Headed,target
68241,Kibaale,Kyebando,Kirasa,Watuna,Jackson Twesige,37.0,NaN,KIB-WAT-JAC-M-093006,Male,Male Headed,target
68264,Kibaale,Kyebando,Kirasa,Watuna,Deogratius Birungi,32.0,NaN,KIB-WAT-DEO-M-115622,Male,Male Headed,target
68253,Kibaale,Kyebando,Kirasa,Watuna,Jackson Musinguzi,35.0,NaN,KIB-WAT-JAC-M-103650,Male,Male Headed,target

## Reserve frame

we can drop the targets since we've already assigned them using the index

In [131]:
male_reserve_s_frame = male_HH_samp_frame.drop(index = male_target_sample.index)

In [132]:
# male_reserve_s_frame.to_excel('mit/male_reserve_s_frame.xlsx', index=False)

In [133]:
male_reserve_sample = male_reserve_s_frame.groupby('village', group_keys=False).apply(lambda x: x.sample(n=min(len(x), 4)))

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_54360/2138712636.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  male_reserve_sample = male_reserve_s_frame.groupby('village', group_keys=False).apply(lambda x: x.sample(n=min(len(x), 4)))

In [134]:
male_reserve_sample['status'] = 'reserve'
male_reserve_sample.head()

,district,subcounty,Parish,village,hhh_name,age,Contact,id,HHH_Gender,Household_Head_Gender,status
13298,Kiryandongo,Mboira,Apodorwa,Abira,Richard Susu,40.0,99,KIR-ABI-RIC-M-170721,Male,Male Headed,reserve
13224,Kiryandongo,Mboira,Apodorwa,Abira,James Nyendwoha,52.0,772453069,KIR-ABI-JAM-M-101355,Male,Male Headed,reserve
13257,Kiryandongo,Mboira,Apodorwa,Abira,Kamilo Oketkidi,49.0,99,KIR-ABI-KAM-M-154521,Male,Male Headed,reserve
13176,Kiryandongo,Mboira,Apodorwa,Abira,Ciwel Odaga,58.0,99,KIR-ABI-CIW-M-123956,Male,Male Headed,reserve
90141,Rukiga,Rwamucucu,Burime,Ahamunyinya,Denis Karuhanga,37.0,99,RUK-AHA-DEN-M-184711,Male,Male Headed,reserve

In [135]:
# male_reserve_sample.to_excel('mit/male_reserve_sample.xlsx', index=False)

Let's combine the targets and reserves to come up with a complete sample for males

# Male Household Sample [Combining the Target and Reserve]

In [136]:
male_target_sample.shape, male_reserve_sample.shape

((7068, 11), (3139, 11))

In [137]:
MALE_HH_SAMPLE = pd.concat([male_target_sample, male_reserve_sample])

# FEMALE  Headed

In [138]:
len(female_HH_samp_frame)

19718

In [139]:
female_HH_samp_frame.head()

,district,subcounty,Parish,village,hhh_name,age,Contact,id,HHH_Gender,Household_Head_Gender
0,Kagadi,Kicucuuru,Kitooro,Kasozi_Kitooro,Akakwasa More,60.0,785534054,KAG-KAS-AKA-F-075731,Female,Female Headed
3,Kagadi,Kicucuuru,Kitooro,Kasozi_Kitooro,Anet Kokundeka,36.0,755236985,KAG-KAS-ANE-F-093637,Female,Female Headed
14,Kagadi,Kicucuuru,Kitooro,Kasozi_Kitooro,Ester Nyirambuga,60.0,788356416,KAG-KAS-EST-F-083414,Female,Female Headed
17,Kagadi,Kicucuuru,Kitooro,Kasozi_Kitooro,Jenerous Norah,80.0,773245647,KAG-KAS-JEN-F-093316,Female,Female Headed
32,Kagadi,Kicucuuru,Kitooro,Kasozi_Kitooro,Night Jenerous,40.0,781512185,KAG-KAS-NIG-F-100503,Female,Female Headed

In [140]:
female_target_sample = female_HH_samp_frame.groupby('village', group_keys=False).apply(lambda x: x.sample(n=min(len(x), 3)))

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_54360/449293486.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  female_target_sample = female_HH_samp_frame.groupby('village', group_keys=False).apply(lambda x: x.sample(n=min(len(x), 3)))

In [141]:
len(female_target_sample)

2349

In [142]:
female_target_sample['status'] = 'target'

In [143]:
female_target_sample.head()

,district,subcounty,Parish,village,hhh_name,age,Contact,id,HHH_Gender,Household_Head_Gender,status
13270,Kiryandongo,Mboira,Apodorwa,Abira,Marry Pifua,50.0,99,KIR-ABI-MAR-F-124636,Female,Female Headed,target
13237,Kiryandongo,Mboira,Apodorwa,Abira,Jesca Adokorach,50.0,99,KIR-ABI-JES-F-153504,Female,Female Headed,target
13286,Kiryandongo,Mboira,Apodorwa,Abira,Paska Angoya,38.0,99,KIR-ABI-PAS-F-170131,Female,Female Headed,target
90240,Rukiga,Rwamucucu,Burime,Ahamunyinya,Medius Mutorinwe,35.0,780488025,RUK-AHA-MED-F-142915,Female,Female Headed,target
90170,Rukiga,Rwamucucu,Burime,Ahamunyinya,Daforose Kemireere,65.0,99,RUK-AHA-DAF-F-123607,Female,Female Headed,target

## Reserve frame

In [144]:
female_reserve_s_frame = female_HH_samp_frame.drop(index = female_target_sample.index)
female_reserve_s_frame.shape

(17369, 10)

In [65]:
# female_reserve_s_frame.to_excel('mit/female_reserve_s_frame.xlsx', index=False)

In [145]:
female_reserve_sample = female_reserve_s_frame.groupby('village', group_keys=False).apply(lambda x: x.sample(n=min(len(x), 2)))

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_54360/2689120184.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  female_reserve_sample = female_reserve_s_frame.groupby('village', group_keys=False).apply(lambda x: x.sample(n=min(len(x), 2)))

In [146]:
female_reserve_sample['status'] = 'reserve'
female_reserve_sample.head()

,district,subcounty,Parish,village,hhh_name,age,Contact,id,HHH_Gender,Household_Head_Gender,status
13325,Kiryandongo,Mboira,Apodorwa,Abira,Stela Mawa,48.0,995,KIR-ABI-STE-F-121540,Female,Female Headed,reserve
13161,Kiryandongo,Mboira,Apodorwa,Abira,Anguleta Giramiya,63.0,787137011,KIR-ABI-ANG-F-153639,Female,Female Headed,reserve
90245,Rukiga,Rwamucucu,Burime,Ahamunyinya,Dinavence Muvawara,49.0,99,RUK-AHA-DIN-F-151538,Female,Female Headed,reserve
90217,Rukiga,Rwamucucu,Burime,Ahamunyinya,Jackline Tibebuza,54.0,99,RUK-AHA-JAC-F-113304,Female,Female Headed,reserve
77117,Kiryandongo,Nyamahasa,Laboke,Alaro_Ogwal_Woo_A,Grace Ayerango,60.0,788307398,KIR-ALA-GRA-F-111640,Female,Female Headed,reserve

In [147]:
# female_reserve_sample.to_excel('mit/female_reserve_sample.xlsx', index=False)

In [148]:
FEMALE_HH_SAMPLE = pd.concat([female_target_sample, female_reserve_sample])

In [149]:
# FEMALE_HH_SAMPLE.to_excel('mit/FEMALE_HH_SAMPLE.xlsx', index=False)

# YOUTH Households

In [150]:
len(youth_HH_samp_frame)

23756

In [151]:
youth_HH_samp_frame.head()

,district,subcounty,Parish,village,hhh_name,age,Contact,id,HHH_Gender,Household_Head_Gender
1,Kagadi,Kicucuuru,Kitooro,Kasozi_Kitooro,Akoragye Peter,30.0,771069272,KAG-KAS-AKO-M-095616,Male,Youth Headed
2,Kagadi,Kicucuuru,Kitooro,Kasozi_Kitooro,Aliganyira Nikorasi,26.0,784875889,KAG-KAS-ALI-M-094647,Male,Youth Headed
4,Kagadi,Kicucuuru,Kitooro,Kasozi_Kitooro,Ayinemani Nicorous,21.0,789236760,KAG-KAS-AYI-M-114920,Male,Youth Headed
5,Kagadi,Kicucuuru,Kitooro,Kasozi_Kitooro,Baguma Francis,22.0,785534054,KAG-KAS-BAG-M-100449,Male,Youth Headed
6,Kagadi,Kicucuuru,Kitooro,Kasozi_Kitooro,Baguma Ivan,28.0,778314660,KAG-KAS-BAG-M-123458,Male,Youth Headed

In [152]:
youth_target_sample = youth_HH_samp_frame.groupby('village', group_keys=False).apply(lambda x: x.sample(n=min(len(x), 3)))

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_54360/4193345323.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  youth_target_sample = youth_HH_samp_frame.groupby('village', group_keys=False).apply(lambda x: x.sample(n=min(len(x), 3)))

In [153]:
len(youth_target_sample)

2124

In [154]:
youth_target_sample['status'] = 'target'

In [155]:
youth_target_sample.head()

,district,subcounty,Parish,village,hhh_name,age,Contact,id,HHH_Gender,Household_Head_Gender,status
13174,Kiryandongo,Mboira,Apodorwa,Abira,Charles Ongom,29.0,99,KIR-ABI-CHA-M-143612,Male,Youth Headed,target
13154,Kiryandongo,Mboira,Apodorwa,Abira,Alex Ondroma,25.0,99,KIR-ABI-ALE-M-153657,Male,Youth Headed,target
13225,Kiryandongo,Mboira,Apodorwa,Abira,James Oryem,29.0,761858315,KIR-ABI-JAM-M-114103,Male,Youth Headed,target
90256,Rukiga,Rwamucucu,Burime,Ahamunyinya,John Namara,23.0,776530372,RUK-AHA-JOH-M-161612,Male,Youth Headed,target
90201,Rukiga,Rwamucucu,Burime,Ahamunyinya,Brian Orikwera,27.0,99,RUK-AHA-BRI-M-085601,Male,Youth Headed,target

In [156]:
# youth_target_sample.to_excel('mit/youth_target_sample.xlsx', index=False)

## Reserve frame

In [157]:
youth_reserve_s_frame = youth_HH_samp_frame.drop(index = youth_target_sample.index)
youth_reserve_s_frame.shape

(21632, 10)

In [79]:
# youth_reserve_s_frame.to_excel('mit/youth_reserve_s_frame.xlsx', index=False)

In [158]:
youth_reserve_sample = youth_reserve_s_frame.groupby('village', group_keys=False).apply(lambda x: x.sample(n=min(len(x), 2)))

/var/folders/xd/0btgr76j2zxc4__ynw0yhwbm0000gn/T/ipykernel_54360/1565627471.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  youth_reserve_sample = youth_reserve_s_frame.groupby('village', group_keys=False).apply(lambda x: x.sample(n=min(len(x), 2)))

In [159]:
youth_reserve_sample['status'] = 'reserve'
youth_reserve_sample.head()

,district,subcounty,Parish,village,hhh_name,age,Contact,id,HHH_Gender,Household_Head_Gender,status
13207,Kiryandongo,Mboira,Apodorwa,Abira,Francis Ochokuru,23.0,99,KIR-ABI-FRA-M-171510,Male,Youth Headed,reserve
13331,Kiryandongo,Mboira,Apodorwa,Abira,Stteven Dukongi,19.0,99,KIR-ABI-STT-M-090506,Male,Youth Headed,reserve
90258,Rukiga,Rwamucucu,Burime,Ahamunyinya,Ivan Atugarukiremu,30.0,-99,RUK-AHA-IVA-M-163217,Male,Youth Headed,reserve
90263,Rukiga,Rwamucucu,Burime,Ahamunyinya,Elioda Muhanguzi,23.0,-99,RUK-AHA-ELI-M-180150,Male,Youth Headed,reserve
77284,Kiryandongo,Nyamahasa,Laboke,Alaro_Ogwal_Woo_A,Oscar Oyella,26.0,776034612,KIR-ALA-OSC-F-135721,Female,Youth Headed,reserve

In [160]:
# youth_reserve_sample.to_excel('mit/youth_reserve_sample.xlsx', index=False)

# Youth Household Sample

In [161]:
youth_target_sample.shape, youth_reserve_sample.shape

((2124, 11), (1400, 11))

In [162]:
YOUTH_HH_SAMPLE = pd.concat([youth_target_sample, youth_reserve_sample])

In [163]:
# YOUTH_HH_SAMPLE.to_excel('mit/YOUTH_HH_SAMPLE.xlsx', index=False)

We now have sample for males, females, and youths. Let's combine.

# JOINING THE DATAFRAMES

In [164]:
MALE_HH_SAMPLE.shape, FEMALE_HH_SAMPLE.shape, YOUTH_HH_SAMPLE.shape

((10207, 11), (3903, 11), (3524, 11))

In [165]:
import numpy as np

In [166]:
np.array((MALE_HH_SAMPLE.shape[0], FEMALE_HH_SAMPLE.shape[0], YOUTH_HH_SAMPLE.shape[0])).sum(), len(df)

(17634, 92684)

In [167]:
FINAL = pd.concat([MALE_HH_SAMPLE, FEMALE_HH_SAMPLE, YOUTH_HH_SAMPLE])

In [168]:
FINAL.to_excel('FINAL_Randomized.xlsx', index=False)